.THIS .heightClass {
	max-height: 250px;
   	height: auto;
    overflow: auto
}
.THIS .pageHeader {
	background-color :#F3F2F2;
}
.THIS .pointerCursor{
    cursor: pointer !important;
}
.THIS .truncate{
   max-width: 50px;
   mix-width: 10px;
}