.slds-dropdown_length-3, .slds-dropdown--length-3 {
    -webkit-overflow-scrolling: touch;
    max-height: calc(((1rem * 1.5) + 1rem) * 3);
    overflow-y: auto;
}

.slds-dropdown_length-4, .slds-dropdown--length-4 {
    -webkit-overflow-scrolling: touch;
    max-height: calc(((1rem * 1.5) + 1rem) * 4);
    overflow-y: auto;
}