<template>
    <div class="slds-form-element">
        <div class="slds-form-element__control">
            <div class="slds-combobox_container">
                <div class="slds-combobox  slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open"
                    aria-expanded="true" aria-haspopup="listbox" role="combobox">
                    <div class="slds-combobox__form_element">
                        <lightning-input aria-controls="listbox-1" name="search" type="search" onkeyup={handleOnEnter}
                            onchange={handleOnChange} is-loading={loading} label="Search and Select Matter" required></lightning-input>
                    </div>
                    <template if:true={show}>
                        <div id="listbox-1" class="slds-dropdown slds-dropdown_length-4 slds-dropdown_fluid" role="listbox">
                            <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                                <template for:each={results} for:item="matter" for:index="index">
                                    <li key={matter.Id} data-value={index} class="slds-listbox__item" role="presentation"
                                        onclick={handleOnSelect}>
                                        <div class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small"
                                            role="option">
                                            <span class="slds-media__body">
                                                <span class="slds-truncate" title="Record Name">{matter.ReferenceNumber__c}
                                                    - {matter.litify_pm__Display_Name__c}</span>
                                            </span>
                                        </div>
                                    </li>
                                </template>
                                <template if:true={empty}>
                                    <li class="slds-listbox__item" role="presentation">
                                        <div class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small"
                                            role="option">
                                            <span class="slds-media__body">
                                                <span class="slds-truncate" title="Record Name">No Results Found</span>
                                            </span>
                                        </div>
                                    </li>
                                </template>
                            </ul>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>