<template>

    <lightning-spinner if:true={showSpinner} alternative-text={spinnerMessage} size="large" variant="brand" class="spinner-z-index"></lightning-spinner>

    <lightning-card class="slds-m-around_x-small">

        <!-- Page Header -->
        <div slot="title" class="slds-media">
            <div class="slds-media__figure">
                <lightning-icon icon-name="standard:account"></lightning-icon>
            </div>
            <div class="slds-media__body">
                <h2>Create Deposits</h2>    
                <span>
                    <div class="slds-text-color_success">
                        <p>
                            <span>Deposit Amount: &nbsp;&nbsp;
                            <lightning-formatted-number value={totalAmount} format-style="currency" minimum-fraction-digits="2"></lightning-formatted-number>
                            </span>
                        </p>
                    </div> 
                </span>        
            </div>
        </div>
        
        <!-- Bank account and date definition -->
        <lightning-record-edit-form object-api-name="Deposit__c" onsubmit={handleSubmit}>
            <lightning-messages>
            </lightning-messages>
            <div class="slds-grid">
                <div class="slds-size_1-of-4">
                    <lightning-input-field field-name="Check_Date__c" value={todayDate}></lightning-input-field>
                </div>
                <div class="slds-size_1-of-4">
                    <lightning-combobox
                        name="recordType"
                        label="Deposit Type"
                        value={selectedRecordType}
                        onchange={handleRecordTypeChange}
                        placeholder="Select Type"
                        options={rtItems}
                        required
                    ></lightning-combobox>
                </div>
                
                <div class="slds-size_1-of-4">
                    <lightning-input-field field-name="Deposit_Description__c"></lightning-input-field>
                </div> 
                <div class="slds-size_1-of-4">
                    <template if:true={disableSave}>
                        <lightning-button class="saveButton slds-m-top_small"
                            type="submit"
                            disabled
                            label="Save Deposits and Allocate">
                        </lightning-button> 
                    </template>
                    <template if:false={disableSave}>
                        <lightning-button class="saveButton slds-m-top_small"
                            type="submit"
                            label="Save Deposits and Allocate">
                        </lightning-button> 
                    </template>
                </div>
                          
            </div>
            <div class="slds-grid">               
                <div class="slds-size_1-of-4">
                    <lightning-input-field field-name="Trust_Account__c" onchange={handleTrustBankAccountChange} value={defaultTrustAccount}></lightning-input-field>
                </div>                            
                <div class="slds-size_1-of-4">
                    <lightning-input-field field-name="Cost_Account__c" onchange={handleCostBankAccountChange} value={defaultCostAccount}></lightning-input-field>
                </div>                            
                <div class="slds-size_1-of-4">
                    <lightning-input-field field-name="Operating_Cash_Account__c" onchange={handleOperatingBankAccountChange} value={defaultOperatingAccount}></lightning-input-field>
                </div>
            </div>
        </lightning-record-edit-form>
        
        <!-- Table with multiple rows for each deposit -->
        <table class="slds-p-around_small slds-table slds-table_cell-buffer slds-table_bordered">
            <thead>
                <!-- Add Rows Button and parameter -->
                <tr>
                    <th class="" scope="col">
                        <lightning-input type="number" name="numOfRows" value={numberOfRowsToAdd} onchange={handleNumberOfRowsChange} class="slds-align_absolute-center" label="# rows to add"></lightning-input>
                    </th>
                    <th class="" scope="col">
                        <lightning-button variant="brand" label="Add Row" onclick={handleAddRow} icon-name="utility:add" class="slds-align_absolute-center"></lightning-button>
                    </th>
                </tr>
                <!-- Header Row -->
                <tr class="slds-line-height_reset">
                    
                    <!-- Delete Icon -->
                    <th class="" scope="col" width="15px">
                    </th>
                    <th class="" scope="col">
                        Matter
                    </th>
                    <th class="" scope="col">
                        Amount
                    </th>
                    <th class="" scope="col">
                        Check Number
                    </th>
                    <th class="" scope="col">
                        HC Limit 
                    </th>
                    <th class="" scope="col">
                        SC Limit 
                    </th>
                    <th class="" scope="col">
                        Total Cost Limit
                    </th>
                    <th class="" scope="col">
                        Allocated Fee 
                    </th>
                    <th class="" scope="col">
                        Unallocated Cost
                    </th>
                    
                </tr>
            </thead>
            <tbody>
                <!-- data rows -->
                <template for:each={depositWrappers} for:item="wrapper" for:index="index">
                    <c-deposit-create-row key={wrapper.key} 
                        index={index} 
                        disable-unallocated-child={disableUnallocated} 
                        disable-limits-child={disableLimits} 
                        wrapper-object={wrapper} 
                        oncolumndatachange={handleColumnDataChange} 
                        ondisablesave={handleDisableSave} 
                        onrowdelete={handleRowDelete}
                    ></c-deposit-create-row>
                </template>
            </tbody> <!-- end outer grid! -->
        </table>
            
    </lightning-card>
</template>