<!-- The template tag will be converted to the table row tr -->
<template>
  <td style="width: 2px;">
    <lightning-button-icon
      icon-name="utility:delete"
      onclick={handleRowDelete}
    ></lightning-button-icon>
  </td>
  <!--Line Number-->
  <td style="width: 2px;">
    
      <lightning-formatted-number
        value={lineNumber}
      ></lightning-formatted-number>
      <!-- <div class="slds-row-number slds-text-body_small slds-text-color_weak"></div> -->
    
  </td>
  <!-- GLA-->
  <td> 
    <lightning-record-edit-form
      object-api-name="c2g__codaPurchaseInvoiceExpenseLineItem__c"
    >
      <lightning-input-field
        variant="label-hidden"
        value={wrapperObject.glaId}
        field-name="c2g__GeneralLedgerAccount__c"
        onchange={handleGlaSelect}
      ></lightning-input-field>
    </lightning-record-edit-form>
  </td>
  <!-- Matter Lookup -->
  <td>
    <lightning-record-edit-form
      object-api-name="c2g__codaPurchaseInvoiceExpenseLineItem__c"
    >
      <lightning-input-field
        variant="label-hidden"
        value={wrapperObject.matterId}
        onchange={handleMatterSelect}
        field-name="Matter__c"
      ></lightning-input-field>
    </lightning-record-edit-form>
    <!-- <c-ux-quick-lookup object-api-name="litify_pm__Matter__c" label="" fields="Record_Name__c" icon-name="standard:account" onrecordselected={handleMatterSelect} row-index={index}></c-ux-quick-lookup> -->
  </td>
  <!-- Expense Type -->
  <td>
    <lightning-record-edit-form
      object-api-name="c2g__codaPurchaseInvoiceExpenseLineItem__c"
    >
      <lightning-input-field
        variant="label-hidden"
        value={wrapperObject.expenseTypeId}
        field-name="Expense_Type__c"
        onchange={handleExpenseTypeSelect}
      ></lightning-input-field>
    </lightning-record-edit-form>
  </td>
<!--Is DCD Expense?-->
  <!-- <td>
    <lightning-record-edit-form
     object-api-name="c2g__codaPurchaseInvoiceExpenseLineItem__c"
    >
    <lightning-input-field
      variant="label-hidden"
      field-name="Is_DCD_expense__c"
    ></lightning-input-field>
    </lightning-record-edit-form>
  </td> -->
  <!-- Amount -->
  <td>
    <lightning-input
      variant="label-hidden"
      onchange={handleAmountChange}
      type="number"
      name="lineAmount"
      value={wrapperObject.lineAmount}
      formatter="currency"
      step="0.01"
    ></lightning-input>
  </td>

  <!-- Dimension 1 - Office -->
  <td>
    <lightning-record-edit-form
      object-api-name="c2g__codaPurchaseInvoiceExpenseLineItem__c"
    >
      <lightning-input-field
        variant="label-hidden"
        field-name="c2g__Dimension1__c"
        value={wrapperObject.dim1Id}
        onchange={handleDim1Select}
      ></lightning-input-field>
    </lightning-record-edit-form>
  </td>
  <!-- Dimension 2 - Litigation Type -->
  <td>
    <lightning-record-edit-form
      object-api-name="c2g__codaPurchaseInvoiceExpenseLineItem__c"
    >
      <lightning-input-field
        variant="label-hidden"
        field-name="c2g__Dimension2__c"
        value={wrapperObject.dim2Id}
        onchange={handleDim2Select}
      ></lightning-input-field>
    </lightning-record-edit-form>
  </td>
  <!-- Dimension 3 - Case Type -->
  <td>
    <lightning-record-edit-form
      object-api-name="c2g__codaPurchaseInvoiceExpenseLineItem__c"
    >
      <lightning-input-field
        variant="label-hidden"
        field-name="c2g__Dimension3__c"
        value={wrapperObject.dim3Id}
        onchange={handleDim3Select}
      ></lightning-input-field>
    </lightning-record-edit-form>
  </td>
  <!-- Dimension 4 - Department -->
  <td>
    <lightning-record-edit-form
      object-api-name="c2g__codaPurchaseInvoiceExpenseLineItem__c"
    >
      <lightning-input-field
        variant="label-hidden"
        field-name="c2g__Dimension4__c"
        value={wrapperObject.dim4Id}
        onchange={handleDim4Select}
      ></lightning-input-field>
    </lightning-record-edit-form>
  </td>
  <!-- Description -->
  <td>
    <lightning-record-edit-form
      object-api-name="c2g__codaPurchaseInvoiceExpenseLineItem__c"
    >
      <lightning-input
        variant="label-hidden"
        field-name="c2g__LineDescription__c"
        onchange={handleLineDescSelect}
        value={wrapperObject.lineDescription}
      ></lightning-input>
    </lightning-record-edit-form>
  </td>
</template>