.THIS li.slds-feed__item {
    padding: 0px;
    margin: 0px;
}
.THIS div.slds-post__content {
    margin: 0px;
    padding: 0px;
}
.THIS .slds-feed__item:nth-child(even) > div.slds-feed__item-comments {
    background-color: rgb(253, 253, 253);
}
.THIS .rightText {
    text-align: right;
}
.THIS .taskList {
    max-height: 550px;
    overflow: auto;
}
.THIS .slds-feed {
    max-width: none;
}