.THIS .slds-page-header.slds-page-header_record-home{
    position: fixed;
    margin-top: 6.0rem;
    padding-top: 0;
    top: 0;
    z-index: 50;  
    box-shadow: 0px 20px 2px 0 rgba(0, 0, 0, 0.10); 
}
.THIS .bodyDiv {
    padding-top:7rem;
}