.THIS .hieghtAccountDataComponent {
	height:511px;
}
.THIS .hieghtEmployeDataComponent {
	min-height:511px;
}

.THIS .hide{
    display : none;
}
.THIS .iconPosition{
    position: relative;
    right: -353px;
}
.THIS .iconPosition2{
    POSITION: relative;
    RIGHT: 12px;
}
.THIS .divWidth{
    width : 100%;
}
.THIS .pointer{
    cursor: pointer;
}