<!-- 
Lightning Web Component for Flow Screens:       recordDetailFlowScreenComponent

1/24/20 -   Eric Smith -    Version 1.3
                            Added a feature to display and handle a Cancel button when in Edit mode
                            Added an option to support flow navigation on record save and cancel                           
                            Included descriptive labels and help text for Flow parameters

-->
<template>
    <div class="container">

        <template if:true={loadFinished}>
            <div class="slds-box slds-theme_default">
                <template if:true={isError}>
                    <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme--error" role="alert">
                        <template for:each={errors} for:item="error">
                            <h2 key={error}> {error} </h2>
                        </template>
                    </div>
                </template>
                <template if:false={isError}>
                    <template if:true={isViewMode}>
                        <lightning-record-view-form
                                record-id={recordId}
                                record-type-id={recordTypeId}
                                object-api-name={objectApiName}>
                            <lightning-layout multiple-rows="true">
                                <template for:each={fieldData} for:item="field">
                                    <lightning-layout-item key={field.fieldName} size={elementSize}>
                                        <lightning-output-field if:false={field.isError} field-name={field.fieldName}>
                                        </lightning-output-field>
                                        <div if:true={field.isError} class="slds-text-color_destructive">
                                            {field.errorMessage}
                                        </div>
                                    </lightning-layout-item>
                                </template>
                            </lightning-layout>
                        </lightning-record-view-form>
                    </template>
                    <template if:false={isViewMode}>
                        <lightning-record-edit-form
                                record-id={recordId}
                                record-type-id={recordTypeId}
                                object-api-name={objectApiName}
                                onsuccess={handleSuccess}
                                onerror={handleError}
                        >
                            <lightning-layout multiple-rows="true">
                                <template for:each={fieldData} for:item="field">
                                    <lightning-layout-item key={field.fieldName} size={elementSize}>
                                        <template if:false={field.isError} >
                                            <lightning-output-field if:true={field.isOutput} field-name={field.fieldName}>
                                            </lightning-output-field>
                                            <lightning-input-field  if:false={field.isOutput} field-name={field.fieldName}>
                                            </lightning-input-field>
                                        </template>

                                        <div if:true={field.isError}
                                             class="slds-text-color_destructive slds-align_absolute-center">
                                            {field.errorMessage}
                                        </div>
                                    </lightning-layout-item>
                                </template>
                                <lightning-layout-item size=12>
                                    <lightning-button
                                            class="slds-m-top_small slds-p-left_small slds-float--right"
                                            variant="brand"
                                            type="submit"
                                            name="save"
                                            label="Save">
                                    </lightning-button>
                                    <lightning-button
                                            class="slds-m-top_small slds-float--right"
                                            variant="neutral"
                                            type="button"
                                            name="cancel"
                                            label="Cancel"
                                            onclick={handleCancel}>
                                    </lightning-button>
                                </lightning-layout-item>
                            </lightning-layout>
                        </lightning-record-edit-form>
                    </template>
                </template>
            </div>
        </template>
        <div class="toast-message">
            <c-toast-message></c-toast-message>
        </div>
    </div>
</template>