<template>

    <!-- border:1px solid black; -->

    <template if:true={onDocuments}>
        <lightning-card title="Mailing - Documents" icon-name="custom:custom105">
        <div style="margin: 0px 15px 0px 15px">

        <div style="width: 100%; height: 60px;">
            <div style="float:left;">
                <lightning-input name="search"
                    type="text"
                    label="Name Search" 
                    onchange={searchChange}
                    value={docSearch}
                >
                </lightning-input>
            </div>
            <div style="float:right; padding-top: 25px">
                <lightning-button
                    variant="brand"
                    label="Next"
                    title="Next"
                    onclick={nextClick}
                    class="slds-m-left_x-small"
                >
                </lightning-button>
            </div>
        </div>


        <p>(select only one)</p>
        <p>
            <lightning-datatable name="documents"
                key-field="id"
                data={docData}
                columns={docColumns}
                selected-rows={preSelectedDocs}
                sorted-by={docSortBy}
                sorted-direction={docSortDir}
                onsort={docSort}
            >
            </lightning-datatable>
        </p>

        <br/>
        <div style="text-align: right;">
        <lightning-button
            variant="brand"
            label="Next"
            title="Next"
            onclick={nextClick}
            class="slds-m-left_x-small">
        </lightning-button>
        </div>
    
    </div>
    </lightning-card>
    </template>        


    <template if:true={onRoles}>
    <lightning-card title="Mailing - Recipients" icon-name="custom:custom105">
    <div style="margin: 0px 15px 0px 15px">

        <div style="width: 100%; height: 60px; text-align:center; ">
            <div style="float:left;">
                <lightning-combobox
                    name="mailType"
                    label="Mail Type"
                    value={mailType}
                    placeholder="Select Mail Type"
                    options={mailTypeOptions}
                    style="width: 20em;"
                ></lightning-combobox>
            </div>

            <div style="display: inline-block; margin:0 auto; padding-top: 25px;">
                <lightning-button
                    variant="brand"
                    label="Previous"
                    title="Previous"
                    onclick={previousClick}
                    class="slds-m-right_x-small">
                </lightning-button>
            </div>

            <div style="float:right; padding-top: 25px;">
                <lightning-button
                    variant="brand"
                    label="Complete"
                    title="Complete"
                    onclick={completeClick}
                    class="slds-m-left_x-small">
                </lightning-button>
            </div>
        </div>
        
        <p>
            <lightning-datatable name="roles"
                key-field="id"
                data={roleData}
                columns={roleColumns}
                onsave={handleSave}
                oncellchange={roleChange}
                draft-values={draftRoles}
                >
            </lightning-datatable>
        </p>

        <div style="width: 100%; height: 37px; padding-top: 2px; text-align:center;">
            <div style="float: left; height: 25px; width: 260px;">
                &nbsp;
            </div>

            <div style="display: inline-block; margin:0 auto; padding-left: 52px;">
                <lightning-button
                    variant="brand"
                    label="Previous"
                    title="Previous"
                    onclick={previousClick}
                    class="slds-m-right_x-small">
                </lightning-button>
            </div>

            <div style="float: right;">
                <lightning-button
                    variant="brand"
                    label="Add New Recipient"
                    title="Add-New_Recipient"
                    onclick={addRecipientClick}
                    class="slds-m-left_x-small">
                </lightning-button>
            </div>
        </div>


        <lightning-spinner if:true={spinCount}></lightning-spinner>        

    </div>
    </lightning-card>
    </template>        
    
    <!--br/>
    <br/>
    <p><font color="gray">Result Message: {resultMessage}</font></p-->


</template>