<apex:component controller="EmailAlertsController" access="global">
    
    <apex:attribute name="theIntake" type="Id" description="the intake id" assignTo="{!relatedIntakeId}" />
    
    <c:ClientInformationGeneralAccountInfo theIntake="{!relatedIntakeId}" />
    
    <c:InjuredPartyInformation theIntake="{!relatedIntakeId}" />
    
    <h3>Intake Information</h3>
    <table class="sf-table">
        <apex:repeat value="{!DefaultFieldsetNonEmpty}" var="f">
        <tr>            
            <th>
                <apex:outputText value="{!$ObjectType.Intake__c.Fields[f].label}" />
            </th>
            <td>
                <apex:outputField value="{!thisIntakeBasicInfo[f.fieldPath]}" />    
            </td>
        </tr>
        </apex:repeat>
    </table>
    <table class="sf-table">
        <apex:repeat value="{!IntakeFieldsetNonEmpty}" var="i">
        <tr>            
            <th>
                <apex:outputText value="{!$ObjectType.Intake__c.Fields[i].label}" />
            </th>
            <td>
                <apex:outputField value="{!thisIntake[i.fieldPath]}" />    
            </td>
        </tr>
        </apex:repeat>
    </table>
    <table class="sf-table">
        <apex:repeat value="{!MarketingInfoFieldsetNonEmpty}" var="m">
        <tr>            
            <th>
                <apex:outputText value="{!$ObjectType.Intake__c.Fields[m].label}" />
            </th>
            <td>
                <apex:outputField value="{!marketingInfo[m.fieldPath]}" />    
            </td>
        </tr>
        </apex:repeat>
    </table>
    
    <h3>Related Investigation Details</h3>
    <apex:repeat value="{!AllIncidentsForThisIntake}" var="o" rows="1">
    <table class="sf-table">
        <tr>
            <th>Client Name</th>
            <td>{!o.Intake__r.Client__r.Name}</td> 
        </tr>
        <tr>
            <th>Intake Id</th> 
            <td>{!o.Intake__r.Name}</td>
        </tr>
        <tr>
            <th>Location</th> 
            <td>{!o.Location__c}</td>
        </tr>
        <tr>
            <th>Start Date/Time</th> 
            <td><c:DateTimeFormatComponent date="{!o.StartDateTime__c}" /></td>
        </tr>
        <tr>
            <th>Investigator Name</th> 
            <td>{!o.Owner.Name}</td>
        </tr>
        <apex:outputPanel layout="none" rendered="{!NOT(ISBLANK(o.Contracts_to_be_Signed__c))}">
        <tr>
            <th>Number of Contracts Signed</th> 
            <td>{!o.Contracts_to_be_Signed__c}</td>
        </tr>
        </apex:outputPanel>
        <apex:outputPanel layout="none" rendered="{!NOT(ISBLANK(o.Reason_for_Delayed_Signup__c))}">
        <tr>
            <th>Reason for Delayed Signup</th> 
            <td>{!o.Reason_for_Delayed_Signup__c}</td>
        </tr>
        </apex:outputPanel>
    </table>
    </apex:repeat>
    
    <h3>Related Intakes</h3>
    <apex:variable var="incident" value="{!AllIncidentsForThisIntake}" />
    <apex:repeat value="{!AllIntakeInvestigationsForThisIncident}" var="o">
        <table class="sf-table">
        <tr>
            <th>Client Name</th>
            <td>{!o.Intake__r.Client__r.Name}</td> 
        </tr>
        <tr>
            <th>Intake ID</th>
            <td>{!o.Intake__r.Name}</td> 
        </tr> 
        <tr>
            <th>Status</th>
            <td>{!o.Intake__r.Status__c}</td> 
        </tr>
            
    </table>
    </apex:repeat> 
    <p>&nbsp;</p>
</apex:component>