<apex:component controller="EmailAlertsController" access="global">
    
    <apex:attribute name="theIntake" type="Id" description="the intake id" assignTo="{!relatedIntakeId}" /> 

    <apex:repeat value="{!AllCanceledIncidentsForThisIntake}" var="o" rows="1">
        <table class="sf-table">
            <tr>
                <th>Client Name</th> 
                <td>{!o.Intake__r.Client__r.Name}</td>
            </tr>
            <tr>
                <th>Location</th> 
                <td>{!o.Location__c}</td>
            </tr>
            <tr>
                <th>Start Date/Time</th> 
                <td><c:DateTimeFormatComponent date="{!o.StartDateTime__c}" /></td>
            </tr> 
            <tr>
                <th>Investigator Name</th> 
                <td>{!o.Owner.Name}</td>
            </tr>
        </table>
    </apex:repeat> 
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</apex:component>