<apex:component controller="mmintake_EmailAlertsController" access="global">
    <apex:attribute name="theIntakeId" type="Id" description="the intake id" assignTo="{! relatedIntakeId }" />
<html>
    <c:Custom_CSS_Email_Component />
    <body topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" offset="0">
        <center>
            <table width="100%" height="100%" cellpading="0" cellspacing="0" border="0" id="bg-table" bgcolor="#ffffff">
                <tr>
                    <td align="center">
                        <!-- BEGIN HEADER -->
                        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
                            <tr>

                                <td valign="top">
                                    <table class="section header" width="100%" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td valign="middle" align="center">
                                                <c:mmintake_EmailAlertsSwapBanners theEmailAlertsInfo="{! info }"/>
                                            </td>
                                        </tr>
                                    </table>
                                </td>

                            </tr>
                        </table>
                        <!-- END HEADER -->
                        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
                            <tr>
                                <p class="summary"><strong>Intake ID:</strong> {! info.intake.Name}</p>

                                <h2>Dear {! info.client.Name},</h2>
                                <p>The following investigation has been canceled. If another appointment has been scheduled, notice for that appointment will be sent separately.</p>
                            </tr>
                            <tr>
                                <td>
                                    <apex:repeat value="{! info.allCanceledIncidentsForThisIntake }" var="o" rows="1">
                                    <table class="sf-table">
                                        <tr>
                                            <th>Client Name</th>
                                            <td>{!o.Intake__r.Client__r.Name}</td>
                                        </tr>
                                        <tr>
                                            <th>Location</th>
                                            <td>{!o.Location__c}</td>
                                        </tr>
                                        <tr>
                                            <th>Start Date/Time</th>
                                            <td><c:DateTimeFormatComponent date="{!o.StartDateTime__c}" /></td>
                                        </tr>
                                        <tr>
                                            <th>Investigator Name</th>
                                            <td>{!o.Owner.Name}</td>
                                        </tr>
                                    </table>
                                </apex:repeat>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>
</apex:component>