<apex:component access="global">
    <apex:attribute name="theEmailAlertsInfo" type="mmintake_EmailAlertsInfo" description="the info" />
    <h3>{!$ObjectType.Intake__c.fields.Client__c.label} Information</h3>
    <table class="sf-table">
        <apex:repeat value="{!$ObjectType.Account.FieldSets.General_Account_Info}" var="a">
        <tr>
            <th>
                <apex:outputText value="{!$ObjectType.Account.Fields[a].label}" />
            </th>
            <td>
                <apex:outputField value="{! theEmailAlertsInfo.client[a.fieldPath]}" rendered="{!$ObjectType.Account.Fields[a].type !='phone'}" />
                <apex:outputLink value="tel:{!SUBSTITUTE( SUBSTITUTE( SUBSTITUTE( SUBSTITUTE( SUBSTITUTE( theEmailAlertsInfo.client[a.fieldPath], '.', '')  , ' ', '')  , '-', '')  , ')', '')  , '(', '')}" rendered="{!$ObjectType.Account.Fields[a].type =='phone'}">
                    {! theEmailAlertsInfo.client[a.fieldPath] }
                </apex:outputLink>
            </td>
        </tr>
        </apex:repeat>
    </table>
</apex:component>