<apex:component controller="mmintake_EmailAlertsController" access="global">
    <apex:attribute name="theIncidentInvestigationEventId" type="Id" description="the incident investigation event id" assignTo="{! relatedIncidentInvestigationEventId }" />
<html>
    <c:Custom_CSS_Email_Component />
    <body topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" offset="0">
        <center>
            <table width="100%" height="100%" cellpading="0" cellspacing="0" border="0" id="bg-table" bgcolor="#ffffff">
                <tr>
                    <td align="center">
                        <!-- BEGIN HEADER -->
                        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
                            <tr>

                                <td valign="top">
                                    <table class="section header" width="100%" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td valign="middle" align="center">
                                                <c:mmintake_EmailAlertsSwapBanners theEmailAlertsInfo="{! info }"/>
                                            </td>
                                        </tr>
                                    </table>
                                </td>

                            </tr>
                        </table>
                        <!-- END HEADER -->
                        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
                            <tr>
                                <p class="summary"><strong>{! $ObjectType.Intake__c.fields.Name.label }:</strong> {! info.intake.Name }</p>
                                <p>You are no longer assigned to the following investigation. This does not mean that it has been canceled but it has been removed from your calendar.</p>
                                <br />

                            <apex:repeat value="{! info.allCanceledIncidentsForThisIntake }" var="o" rows="1">
                                <table class="sf-table">
                                    <tr>
                                        <th>Client Name</th>
                                        <td>{!o.Intake__r.Client__r.Name}</td>
                                    </tr>
                                    <tr>
                                        <th>Intake Id</th>
                                        <td>{!o.Intake__r.Name}</td>
                                    </tr>
                                    <tr>
                                        <th>Location</th>
                                        <td>{!o.Location__c}</td>
                                    </tr>
                                    <tr>
                                        <th>Start Date/Time</th>
                                        <td><c:DateTimeFormatComponent date="{!o.StartDateTime__c}" /></td>
                                    </tr>
                                    <tr>
                                        <th>End Time/Date</th>
                                        <td><c:DateTimeFormatComponent date="{!o.EndDateTime__c}" /></td>
                                    </tr>
                                    <tr>
                                        <th>Investigator Name</th>
                                        <td>{!o.Owner.Name}</td>
                                    </tr>
                                </table>
                            </apex:repeat>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>
</apex:component>