<apex:component controller="mmintake_EmailAlertsController" access="global">
    <apex:attribute name="theIntakeInvestigationEventId" type="Id" description="the intake investigation event id" assignTo="{! relatedIntakeInvestigationEventId }" />
<html>
    <c:Custom_CSS_Email_Component />
    <body topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" offset="0">
        <center>
            <table width="100%" height="100%" cellpading="0" cellspacing="0" border="0" id="bg-table" bgcolor="#ffffff">
                <tr>
                    <td align="center">
                        <!-- BEGIN HEADER -->
                        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
                            <tr>

                                <td valign="top">
                                    <table class="section header" width="100%" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td valign="middle" align="center">
                                                <c:mmintake_EmailAlertsSwapBanners theEmailAlertsInfo="{! info }"/>
                                            </td>
                                        </tr>
                                    </table>
                                </td>

                            </tr>
                        </table>
                        <!-- END HEADER -->
                        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
                            <tr>
                                <c:mmintake_OneLineIntakeSummary theEmailAlertsInfo="{! info }"/>
                                <p class="status">A new investigation has been scheduled for {! info.client.Name} - <span class="capitalize">{!if( info.intake.Catastrophic__c==false, '', 'Catastrophic')}</span> {! info.intake.Name}.</p>
                            </tr>
                            <tr>
                                <td>
                                    <c:mmintake_ClientInfoGeneralAccountInfo theEmailAlertsInfo="{! info }"/>

                                    <h3>{! $ObjectType.Intake__c.label } Information</h3>
                                    <table class="sf-table">
                                        <apex:repeat value="{! info.defaultFieldsetMemberNonEmpty }" var="f">
                                        <apex:outputPanel layout="none" rendered="{! not( isblank( info.intake[f.fieldPath] ) ) }">
                                        <tr>
                                            <th>
                                                <apex:outputText value="{!$ObjectType.Intake__c.Fields[f].label}" />
                                            </th>
                                            <td>
                                                <apex:outputField value="{! info.intake[f.fieldPath]}" />
                                            </td>
                                        </tr>
                                        </apex:outputPanel>
                                        </apex:repeat>
                                        <apex:repeat value="{! info.intakeFieldsetMemberNonEmpty }" var="i">
                                        <apex:outputPanel layout="none" rendered="{! not( isblank( info.intake[i.fieldPath] ) ) }">
                                        <tr>
                                            <th>
                                                <apex:outputText value="{!$ObjectType.Intake__c.Fields[i].label}" />
                                            </th>
                                            <td>
                                                <apex:outputField value="{! info.intake[i.fieldPath]}" />
                                            </td>
                                        </tr>
                                        </apex:outputPanel>
                                        </apex:repeat>
                                        <apex:repeat value="{! info.marketingInfoFieldsetMemberNonEmpty }" var="m">
                                        <apex:outputPanel layout="none" rendered="{! not( isblank( info.intake[m.fieldPath] ) ) }">
                                        <tr>
                                            <th>
                                                <apex:outputText value="{!$ObjectType.Intake__c.Fields[m].label}" />
                                            </th>
                                            <td>
                                                <apex:outputField value="{! info.intake[m.fieldPath]}" />
                                            </td>
                                        </tr>
                                        </apex:outputPanel>
                                        </apex:repeat>
                                    </table>

                                    <h3>Investigation Details</h3>
                                    <apex:repeat value="{! info.allIncidentsForThisIntake }" var="o" rows="1">
                                    <table class="sf-table">
                                        <tr>
                                            <th>Client Name</th>
                                            <td>{!o.Intake__r.Client__r.Name}</td>
                                        </tr>
                                        <tr>
                                            <th>Intake Id</th>
                                            <td>{!o.Intake__r.Name}</td>
                                        </tr>
                                        <tr>
                                            <th>Location</th>
                                            <td>{!o.Location__c}</td>
                                        </tr>
                                        <tr>
                                            <th>Start Date/Time</th>
                                            <td><c:DateTimeFormatComponent date="{!o.StartDateTime__c}" /></td>
                                        </tr>
                                        <tr>
                                            <th>Investigator Name</th>
                                            <td>{!o.Owner.Name}</td>
                                        </tr>
                                        <tr>
                                            <th>Number of Contracts Signed</th>
                                            <td>{!o.Contracts_to_be_Signed__c}</td>
                                        </tr>
                                        <tr>
                                            <th>Reason for Delayed Signup</th>
                                            <td>{!o.Reason_for_Delayed_Signup__c}</td>
                                        </tr>
                                    </table>
                                    </apex:repeat>

                                    <h3>Other Related Investigations</h3>
                                    <apex:repeat value="{! info.allIntakeInvestigationsForThisIncident }" var="o">
                                        <table class="sf-table">
                                        <tr>
                                            <th>Client Name</th>
                                            <td>{!o.Intake__r.Client__r.Name}</td>
                                        </tr>
                                        <tr>
                                            <th>Intake ID</th>
                                            <td>{!o.Intake__r.Name}</td>
                                        </tr>
                                        <tr>
                                            <th>Case Type</th>
                                            <td>{!o.Intake__r.Case_Type__c}</td>
                                        </tr>
                                        <tr>
                                            <th>Location</th>
                                            <td>{!o.Location__c}</td>
                                        </tr>
                                        <tr>
                                            <th>Start Time/Date</th>
                                            <td><c:DateTimeFormatComponent date="{!o.StartDateTime__c}" /></td>
                                        </tr>
                                        <tr>
                                            <th>Investigator Name</th>
                                            <td>{!o.Owner.Name}</td>
                                        </tr>
                                    </table>
                                    </apex:repeat>
                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>
</apex:component>