<apex:component controller="mmintake_EmailAlertsController" access="global">
    <apex:attribute name="theIntakeInvestigationEventId" type="Id" description="the intake investigation event id" assignTo="{! relatedIntakeInvestigationEventId }" />
        <html>
            <c:Custom_CSS_Email_Component />
            <body topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" offset="0">
                <center>
                    <table width="100%" height="100%" cellpading="0" cellspacing="0" border="0" id="bg-table" bgcolor="#ffffff">
                        <tr>
                            <td align="center">
                                <!-- BEGIN HEADER -->
                                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
                                    <tr>
                                        <td valign="top">
                                            <table class="section header" width="100%" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td valign="middle" align="center">
                                                        <c:mmintake_EmailAlertsSwapBanners theEmailAlertsInfo="{! info }"/>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- END HEADER -->
                                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
                                    <tr>
                                        <p class="summary"><strong>Intake ID:</strong> {! info.intake.Name}</p>

                                        <h2>Dear {!info.intake.Client__r.Name},</h2>
                                        <p>Your investigation has been scheduled.</p>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>
                                                Thank you for choosing the {! if( info.intake.handling_firm__c = 'Nation Law', 'Nation Law Firm', 'law firm of Morgan &amp; Morgan') }.
                                                The legal process can be complex and stressful.
                                                {! if( info.intake.handling_firm__c = 'Nation Law', 'The Nation Law Firm', 'Morgan &amp; Morgan') } strives to make this unfortunate period in your life as uncomplicated as possible.
                                            </p>
                                            <h3>Investigation Details</h3>
                                            <apex:repeat value="{! info.allIncidentsForThisIntake }" var="o" rows="1">
                                                <table class="sf-table">
                                                    <tr>
                                                        <th>Location</th>
                                                        <td>{!o.Location__c}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Start Date/Time</th>
                                                        <td><c:DateTimeFormatComponent date="{!o.StartDateTime__c}" /></td>
                                                    </tr>
                                                    <apex:outputPanel layout="none" rendered="{! info.intake.handling_firm__c = 'Nation Law' }">
                                                    <tr>
                                                        <th>Investigator Name</th>
                                                        <td>{!o.Owner.Name}</td>
                                                    </tr>
                                                    </apex:outputPanel>
                                                </table>
                                            </apex:repeat>
                                            <p>The investigator you are scheduled to meet is not an attorney. They are there to assist you in getting your case started and need basic information for the case, so please help us by having the below materials ready (if possible):</p>
                                            <ul>
                                                <li>Driver License or official State Identification</li>
                                                <li>Original or copy of any medical records and medical bills</li>
                                                <li>Original or copies of any pictures taken of the injuries</li>
                                                <li>Name, phone number and address of any attorneys previously involved in the case, if any</li>
                                                <li>Name, phone numbers and address of a person to contact in case of an emergency</li>
                                                <li>A list of witnesses of the accident, including: names, phone numbers and addresses</li>
                                                <li>Original or copy of latest paystub from your employer for the investigator</li>
                                                <li>Original or copy of letter received from the Worker’s compensation Insurance Company</li>
                                                <li>Once you have completed the sign-up materials, the largest Personal Injury Law firm in the U.S will begin the process of fighting for your rights</li>
                                            </ul>
                                            <apex:outputPanel layout="none" rendered="{! info.intake.handling_firm__c = 'Nation Law' }">
                                            <p>If you need any assistance before your appointment, please e-mail <a href="mailto:investigations@nationlaw.com">investigations@NationLaw.com</a> and we will contact you within 24 hours, or call us at <strong>1-800-628-4665</strong>.  We are open 24/7 to assist you.</p>
                                            </apex:outputPanel>
                                            <apex:outputPanel layout="none" rendered="{! info.intake.handling_firm__c != 'Nation Law' }">
                                            <p>If you need any assistance before your appointment, please e-mail me at <a href="mailto:JohnBMorgan@forthepeople.com">JohnBMorgan@forthepeople.com</a> and we will contact you within 24 hours, or call us at <strong>1-888-670-2630</strong> (English) or <strong>1-888-670-2370</strong> (Spanish).  We are open 24/7 to assist you.</p>
                                            </apex:outputPanel>
                                            <p>&nbsp;</p>
                                            <p>&nbsp;</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </center>
            </body>
        </html>
</apex:component>