<apex:component access="global">
    <apex:attribute name="theEmailAlertsInfo" type="mmintake_EmailAlertsInfo" description="the info" />
    <p class="summary"><strong>{! $ObjectType.Intake__c.fields.Name.label }:</strong> <a href="{! theEmailAlertsInfo.baseUrl }{! theEmailAlertsInfo.intake.Id }" target="_blank">{! theEmailAlertsInfo.intake.name }</a> • <strong>Case Type:</strong> {! if( theEmailAlertsInfo.intake.Catastrophic__c == false, "", "Catastrophic / ")} {! theEmailAlertsInfo.intake.Case_Type__c } {! theEmailAlertsInfo.intake.Case_Subtype__c } • <strong>Status:</strong> {! theEmailAlertsInfo.intake.Status__c }</p>
</apex:component>