<apex:component >
  <apex:attribute name="rows" type="mmsysadmin_UADNameLabel[]" required="true" description="Permission sets to display"/>
  <apex:attribute name="headings" type="mmsysadmin_UADNameLabel[]" required="true" description="Column headings"/>
  <apex:attribute name="enabledCols" type="mmsysadmin_UADMapHolder" description="A map encapsulating whether column should be displayed"/>
  <apex:attribute name="tableClass" type="String" description="CSS class for table"/>
  <apex:attribute name="columnClass" type="String" description="CSS class for each column"/>

  <apex:dataTable value="{!rows}" var="row" cellspacing="0" cellpadding="0" styleClass="permsetAccessTable {!tableClass}">
    <apex:column styleClass="nowrap psLabel">
      <apex:facet name="header">&nbsp;</apex:facet>
      <apex:outputText value="{!row.Label}"/>
    </apex:column>
    <apex:repeat var="heading" value="{!headings}">
      <apex:column styleClass="{!columnClass} colName_{!heading.apiName} {!IF(AND(NOT(ISNULL(enabledCols)), enabledCols.it[heading.apiName]), 'colEnabled', 'colDisabled')}"
                   headerClass="{!columnClass} colName_{!heading.apiName} {!IF(AND(NOT(ISNULL(enabledCols)), enabledCols.it[heading.apiName]), 'colEnabled', 'colDisabled')}">
        <apex:facet name="header">
          <div class="headingContainer">
            <div class="headingLabel">{!heading.label}</div>
          </div>
        </apex:facet>
        <apex:componentBody />
      </apex:column>
    </apex:repeat>
  </apex:dataTable>
</apex:component>