<apex:component layout="none">
    <apex:attribute name="questionModels" description="The list of questions" type="mmwiz_AbstractBaseModel[]" required="true"/>
    <article class="slds-card slds-card--narrow slds-grid--align-spread mm-question-board">

        <!-- CARD HEADER -->
        <div class="slds-card__header slds-grid">

            <header class="slds-media slds-media--center slds-has-flexi-truncate">
                <div class="slds-media__figure">
                    <c:mmwiz_SvgSprite xlinkHref="{!URLFOR($Asset.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#question_feed')}"
                                    svgClass="slds-icon slds-icon-standard-lead slds-icon--small" />
                </div>

                <div class="slds-media__body slds-truncate">
                    <h2 class="slds-text-heading--small">Questions</h2>
                </div>
            </header>
        </div>
        <!-- / CARD HEADER -->

        <!-- CARD BODY -->
        <div class="slds-card__body">
            <div class="slds-card__body--inner">

                <!-- QUESTION 1 TILE -->

                <div class="slds-tile slds-tile--board">

                <form class="slds-form--stacked" id="questions-form">

                <apex:repeat value="{! questionModels }" var="questionModel" id="theQuestionRepeat">


                <!-- QUESTION TYPE RADIO BUTTON FIELDSET -->
                <fieldset class="slds-form-element" id="{! questionModel.token }">
                    <legend class="slds-form-element__legend slds-form-element__label"><p class="slds-text-heading--small">{! questionModel.displayText }</p></legend>
                    <div class="slds-form-element__control">
                    <apex:repeat value="{! questionModel.childModels }" var="answerModel" id="theAnswerRepeat">
                        <span class="slds-radio">
                            <input type="radio" id="{! answerModel.token }" name="{! questionModel.token }-radio" checked="" />
                            <label class="slds-radio__label" for="{! answerModel.token }">
                                <span class="slds-radio--faux"></span>
                                <span class="slds-form-element__label">{! answerModel.displayText }</span>
                            </label>
                        </span>
                    </apex:repeat>
                    </div>
                </fieldset>
                <!-- QUESTION TYPE RADIO BUTTON FIELDSET -->

                </apex:repeat>

                </form>

                <!-- / QUESTION 1 TILE -->
                </div>
            </div>

        </div>
        <!-- / CARD BODY -->

        <!-- CARD FOOTER -->
        <div class="slds-card__footer">
            <div class="slds-button-group" role="group">
                <button class="slds-button  slds-button--neutral" id="page-questions-btn-1" value="Submit">Previous</button>
                <button class="slds-button  slds-button--neutral" id="page-questions-btn-2" value="Submit">Next</button>
                <button type="submit" form="questions-form" class="slds-button  slds-button--neutral" id="page-questions-btn-3" value="Submit">Submit</button>
                <button class="slds-button  slds-button--neutral" id="page-questions-btn-4">Reset Form</button>
            </div>
        </div>
        <!-- / CARD FOOTER -->
    </article>

<apex:includeScript value="{! urlfor($Resource.Morgan, 'Morgan/scripts/mm-jquery-geturlvar.js') }" />


        <!-- JAVASCRIPT -->
        <script type="text/javascript">
            (function() {

                $('#page-questions-btn-1').hide();
                $('#page-questions-btn-2').hide();

                if ( $.getUrlVar('page') ) {
                    $('#page-questions-btn-1').show();
                    $('#page-questions-btn-2').show();
                    $('#page-questions-btn-3').hide();
                }

                $('#page-questions-btn-4').show();

            })();
        </script>
        <!-- / JAVASCRIPT -->

</apex:component>