<apex:component controller="EmailAlertsController" access="global">
  <apex:attribute name="theIntake" type="Id" description="the intake id" assignTo="{!relatedIntakeId}" />


  <p class="summary"><strong>Intake ID:</strong> <a href="{!BaseUrl}/{!IntakeSummary.Id}" target="_blank">{!IntakeSummary.name}</a> • <strong>Case Type:</strong> {!if(IntakeSummary.Catastrophic__c==false, "", "Catastrophic / ")} {!IntakeSummary.Case_Type__c} {!IntakeSummary.Case_Subtype__c} • <strong>Status:</strong> {!IntakeSummary.Status__c}</p>
</apex:component>