<!-- The template tag will be converted to the table row tr -->
<template>
    <!-- Delete Row Icon -->
    <td>
        <lightning-button-icon
          icon-name="utility:delete"
          onclick={handleRowDelete}
        ></lightning-button-icon>
    </td>
    <!-- Matter Lookup -->
    <td>
        <lightning-record-edit-form object-api-name="Deposit__c">
            <lightning-input-field variant="label-hidden" onchange={handleMatterSelect} field-name="Matter__c"></lightning-input-field>
        </lightning-record-edit-form>
        <!-- <c-ux-quick-lookup object-api-name="litify_pm__Matter__c" label="" fields="Record_Name__c" icon-name="standard:account" onrecordselected={handleMatterSelect} row-index={index}></c-ux-quick-lookup> -->
    </td>
    <!-- Amount -->
    <td>
        <lightning-input variant="label-hidden" onchange={handleAmountChange} value={amountDefault} type="number" name="depositAmount" formatter="currency" step="0.01"></lightning-input>
    </td>
    <!-- Check Number -->
    <td>
        <lightning-input variant="label-hidden" onchange={handleCheckNumberChange} name="checkNumber" value={wrapperObject.checkNumber}></lightning-input>
    </td>
    <!-- Hard Cost Limit -->
    <td>
        <lightning-input disabled={disableLimitsChild} variant="label-hidden" onchange={handleHCLimitChange} type="number" name="hardCostLimit" value={hardCostDefault} formatter="currency" step="0.01"></lightning-input>
    </td>
    <!-- Soft Cost Limit -->
    <td>
        <lightning-input disabled={disableLimitsChild} variant="label-hidden" onchange={handleSCLimitChange} type="number" name="softCostLimit" value={softCostDefault} formatter="currency" step="0.01"></lightning-input>
    </td>
    <!-- Total Limit -->
    <td>
        <lightning-formatted-number value={totalCostLimit} format-style="currency" minimum-fraction-digits="2"></lightning-formatted-number>
    </td>
    <!-- Allocated Fee -->
    <td>
        <lightning-input disabled={disableUnallocatedChild} variant="label-hidden" onchange={handleAllocatedFeeChange} value={allocatedFeeDefault} type="number" name="allocatedFee" formatter="currency" step="0.01"></lightning-input>
    </td>
    <!-- Unallocated Costs -->
    <td>
        <lightning-input disabled={disableUnallocatedChild} variant="label-hidden" onchange={handleUnallocatedCostChange} value={unallocatedCostDefault} type="number" name="unallocatedCost" formatter="currency" step="0.01"></lightning-input>
    </td>
    

</template>