.THIS .mmlibASI_fixedWidth div input[type="text"] {
	width: 150px;
}

.THIS .mmsswc_Hidden {
    display: none;
}
.THIS tr.userRow:nth-child(even) {
    background-color: #F4F6F9;
}
.THIS th {
    font-weight: bold !important;
}