.THIS .mmsswc_ShowHideSObjects {
    cursor: pointer;
}
.THIS .mmsswc_Hidden {
    display: none;
}
.THIS tr.accountRow {
    background-color: #F4F6F9;
}
.THIS th {
    font-weight: bold !important;
}
.THIS tr.mmsswc_SObjectChildren > td {
    white-space: normal;
}
.THIS tr.mmsswc_SObjectChildren > td > div {
    display: block;
}
.THIS tr.mmsswc_SObjectChildren > td > div > div{
    display: inline-block;
    padding-right: 20px;
}
.THIS div.subchild {
    padding-top: 10px;
}
.THIS p.subchildIntro {
    padding-top: 10px;
    margin-left: 10px;
    font-weight: bold;
}