<template>
    
    <lightning-card title="Quick HIPAA" icon-name="custom:custom86">
        <div style="margin: 0px 5px 0px 5px">

            <p><b>A HIPAA form will be physically mailed to:</b></p>
            
            <div>
                <lightning-input name="name" type="text" label="Name" value={matterData.name} variant="label-hidden" style="width: 30ch;"></lightning-input>
            </div>
            <div>
                <lightning-input name="street" type="text" label="Street" value={matterData.street} variant="label-hidden" style="width: 30ch;"></lightning-input>
            </div>

            <lightning-layout>
                <lightning-layout-item>
                    <lightning-input name="city" type="text" label="City" value={matterData.city} variant="label-hidden" style="width: 20ch;"></lightning-input>
                </lightning-layout-item>
                <lightning-layout-item></br>,&nbsp;</lightning-layout-item>
                <lightning-layout-item>
                    <lightning-input name="state" type="text" label="State" value={matterData.state} variant="label-hidden" style="width: 6ch;"></lightning-input>
                </lightning-layout-item>
                <lightning-layout-item>&nbsp;&nbsp;</lightning-layout-item>
                <lightning-layout-item>
                    <lightning-input name="postalCode" type="text" label="Postal Code" value={matterData.postalCode} variant="label-hidden" style="width: 10ch;"></lightning-input>
                </lightning-layout-item>
            </lightning-layout>
            <br/>

            <div style="text-align: right; width: 256px;">
                <template if:false={done}>
                    <lightning-button
                        variant="brand"
                        label="Send"
                        title="Send"
                        onclick={sendClick}
                        class="slds-m-left_x-small">
                    </lightning-button>
                </template>
                <template if:true={done}>
                    <lightning-button
                        variant="brand"
                        label="Close"
                        title="Close"
                        onclick={closeClick}
                        class="slds-m-left_x-small">
                    </lightning-button>
                </template>
            </div>

            <lightning-spinner if:true={spinCount}></lightning-spinner>        

            <!--br/>
            <p><font color="gray">Result Message: {resultMessage}</font></p-->
        </div>            
    </lightning-card>

</template>