<apex:page showHeader="true" sidebar="true" controller="DICE_QueueListController">
  <apex:form >
    <apex:pageBlock title="Queue Lists">
      <apex:pageBlockButtons >
        <apex:commandButton value="New" onclick="window.location.href='/apex/DICE_QueueListItem';return false;" />

      </apex:pageBlockButtons>

      <apex:pageBlockTable value="{!queues}" var="q">
        <apex:column headerValue="Name">
           <apex:commandLink value="{!q.Name}" onclick="window.location.href='/apex/DICE_QueueListItem?q={!q.Id}';return false;" />
        </apex:column>
      </apex:pageBlockTable>
    </apex:pageBlock>
  </apex:form>
</apex:page>