<apex:page lightningStylesheets="true" controller="ffaExpenseEntryController">
	<style>
        span.dateInput span.dateFormat
        {
           display:none;
        }
    </style>

    <script>
        function gotoAddNewRows()
        {
            //alert(JSON.stringify(getElementsEndsWithId('rowsToAdd')[0]));
            var i = getElementsEndsWithId('rowsToAdd')[0].value;
            if (i != undefined)
                addNewRows(i);
        }

        function getElementsEndsWithId( id ) 
        {
            var children = document.body.getElementsByTagName('*');
            var elements = [], child;
            for (var i = 0, length = children.length; i < length; i++) 
            {
                child = children[i];
                if (child.id.substr(child.id.length - id.length, child.length ) == id)
                    elements.push(child);
            }
            return elements;
        }

    </script>

    <apex:actionStatus id="refreshStatus">
        <apex:facet name="start">
            <div style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.25; z-index: 1000; background-color: black;">
                &nbsp;
            </div>
            <div style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 1001; margin: 15% 50%">
                <div style="display: inline-block; padding: 2px; background-color: #fff; width: 125px;">
                    <img src="/img/loading.gif" style="float: left; margin: 8px;" />
                    <span style="display: inline-block; padding: 10px 0px;">Please Wait...</span>
                </div>
            </div>
        </apex:facet>
    </apex:actionStatus>

    <apex:form id="frm">
        <apex:pageBlock id="pb" title="Multiple Expense Entry">
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton status="refreshStatus" action="{!save}" reRender="frm" value="Save"/>
                <apex:commandButton action="{!cancel}" value="Cancel" immediate="true"/>
            </apex:pageBlockButtons>
            <apex:pageMessages />
            <apex:actionFunction name="deleteRow" immediate="true" action="{!deleteRow}" status="refreshStatus" reRender="pb">
                <apex:param name="index" value="-1" assignTo="{!index}"/>
            </apex:actionFunction>
            <apex:actionFunction name="addNewRows" immediate="true" action="{!addNewRows}" status="refreshStatus" reRender="pb">
                <apex:param name="addRows" value="1" assignTo="{!addRows}"/>
            </apex:actionFunction>

            <apex:actionFunction name="loadPayableTo" immediate="true" action="{!loadPayableTo}" status="refreshStatus" reRender="frm">
                <apex:param name="index" value="1" assignTo="{!index}"/>
                <apex:param name="matterId" value="1" assignTo="{!matterId}"/>
            </apex:actionFunction>

            <table border="1" cellspacing="0" cellpadding="0" class="list">
                <thead>
                    <tr class="headerRow">
                        <th>
                            Matter
                        </th>
                        <th>
                            Payable To
                        </th>
                        <th>
                            Requested By
                        </th>
                        <th>
                            Vendor Invoice Number
                        </th>
                        <th>
                            Note
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>
                            Expense Type
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            PIN Created
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <apex:variable value="{!0}" var="counter"/> 
                    <apex:repeat value="{!expenseHolderList}" var="holder">
                        <tr>
                            <td>
                                <apex:inputField value="{!holder.expense.litify_pm__Matter__c}" required="true" 
                                    onblur="loadPayableTo('{!counter}',  document.getElementById(this.name+'_lkid').value);"/>
                            </td>
                        <!--     <td>
                                <apex:selectList size="1" value="{!holder.expense.PayableTo__c}" rendered="{!holder.showPayableTo}">
                                    <apex:selectOptions value="{!holder.payableOptions}"/>
                                </apex:selectList>
                            </td> -->
                            <td>
                                <apex:inputField value="{!holder.expense.PayableTo__c}" required="false"/>
                            </td>
                            <td>
                                <apex:inputField value="{!holder.expense.RequestedBy__c}" required="false"/>
                            </td>
                            <td>
                                <apex:inputField value="{!holder.expense.Vendor_Invoice_Number__c}" required="false"/>
                            </td>                            
                            <td>
                                <apex:inputField value="{!holder.expense.litify_pm__Note__c}" required="false"/>
                            </td>
                            <td>
                                <apex:inputField value="{!holder.expense.litify_pm__Amount__c}" required="true"/>
                            </td>
                            <td>
                                <apex:inputField value="{!holder.expense.litify_pm__ExpenseType2__c}" required="true"/>
                            </td>
                            <td>
                                <apex:inputField value="{!holder.expense.litify_pm__Date__c}" required="true"/>
                            </td>
                            <td>
                                <apex:inputField value="{!holder.expense.Payable_Invoice_Created__c}" required="false"/>
                            </td>
                            <td>
                                <input type="button" value="Delete Row" onClick="deleteRow('{!counter}');"/>
                            </td>
                            <apex:variable var="counter" value="{!counter + 1}"/> 
                        </tr>
                    </apex:repeat>
                </tbody>
            </table>
            <div align="right">
                <apex:inputText id="rowsToAdd" style="width: 50px" value="{!addRows}"/>
                <input type="button" onClick="gotoAddNewRows();" value="Add Rows"/>
            </div>
        </apex:pageBlock>
    </apex:form>
</apex:page>