<apex:page showHeader="true" sidebar="true" standardController="Intake__c" extensions="IntakeCallHistoryExtension">
  <apex:pageBlock >
    <apex:pageBlockTable value="{!tasks}" var="t" width="100%" cellpadding="3" rendered="{!tasks.size > 0}">
      <apex:repeat value="{!$ObjectType.Task.FieldSets.Intake_Call_History}" var="f">
        <apex:column headerValue="{!f.label}">
          <apex:outputLink value="/{!t.Id}" rendered="{!f.fieldPath = 'Subject'}">
            <apex:outputText value="{!t[f]}"/>
          </apex:outputLink>
          <apex:outputField value="{!t[f]}" rendered="{!f.fieldPath != 'Subject'}"/>
        </apex:column>
      </apex:repeat>
    </apex:pageBlockTable>
    <apex:outputPanel rendered="{!tasks.size = 0}">No records to display</apex:outputPanel>
  </apex:pageBlock>
  <script>
  document.addEventListener('click', function(e){
    if (e.target && e.target.tagName === 'A') {
      window.top.location.href = e.target.href;
    }
    e.stopPropagation();
  });
  </script>
</apex:page>