<apex:page showHeader="true" sidebar="true" controller="IntakeFlowController" action="{!RefreshIntake}" tabStyle="Intake__c">
  <apex:includeScript value="{!URLFOR($Resource.Morgan, 'Morgan/scripts/jquerymin.js')}"/>
  <style>
    .toolbar { padding:1em 2em 1em 2em; width=100%; background-color:#F1FAFF; }
    pre {
        white-space: pre-wrap;       /* Since CSS 2.1 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
    }
  </style>
  <apex:form >
    <apex:actionRegion >
      <apex:actionFunction name="refreshToolbar" action="{!refreshIntake}" rerender="toolbar" oncomplete="tellme" />
      <apex:outputPanel id="toolbar" layout="block" html-class="toolbar">
        Intake: <h1><apex:outputText value="{!Intake.Name}" /></h1>&nbsp;
        Caller: <h1><apex:outputText value="{!UPPER(Intake.Caller__r.Name)}" /></h1>&nbsp;
        IP: <h1><apex:outputText value="{!UPPER(Intake.Injured_Party__r.Name)}" /></h1>&nbsp;
        Client: <h1><apex:outputText value="{!UPPER(Intake.Client__r.Name)}" /></h1>&nbsp;
        Case Type: <h1><apex:outputText value="{!UPPER(Intake.Case_Type__c)}"/></h1>&nbsp;
        Venue: <h1><apex:outputText value="{!UPPER(Intake.Venue__c)}"/></h1>&nbsp;
        Catastrophic?: <h1><apex:outputText style="{!IF(Intake.Catastrophic__c, 'color:red;', '')}" value="{!UPPER(IsCatastrophic)}" /></h1>
      </apex:outputPanel>
    </apex:actionRegion>
  </apex:form>
  <apex:pageBlock >
       <flow:interview interview="{!FlowInstance}" finishLocation="{!FinishLocation}" name="Contact_Information_Capture"/>
  </apex:pageBlock>
    <apex:outputPanel layout="block" html-class="toolbar" rendered="{!Intake.Lead_Details__c != NULL}">
      <strong>Internet Form Submission:</strong>
      <div style="margin-left: 15px;">
        <pre><apex:outputText value="{!Intake.Lead_Details__c}" /></pre>
      </div>
    </apex:outputPanel>
<!--   <apex:form >
    <apex:actionRegion >
      <apex:pageBlock >
      <h2>Incoming Call?</h2>
        <apex:inputCheckbox value="{!IsIncoming}" id="IsIncoming" onchange="highlightComments('red');" />
      </apex:pageBlock>
      <apex:pageBlock title="Comments" >
        <apex:pageBlockSection >
            <apex:inputTextarea value="{!Comments}" cols="150" rows="7" onkeypress="highlightComments('red');" id="IntakeComments"/>
            <apex:actionPoller action="{!SaveComment}" interval="5" oncomplete="highlightComments('green');" />
        </apex:pageBlockSection>
      </apex:pageBlock>

    </apex:actionRegion>
  </apex:form> -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css" />
  <script>
    

    function highlightComments(color) {
      var textAreas = document.getElementsByTagName('textarea');
      for (var i = 0 ; i < textAreas.length ; i++) {
        var area = textAreas[i];
        if (area.id.indexOf(':IntakeComments', area.id.length - ':IntakeComments'.length) !== -1) {
          area.style.border = 'solid 3px ' + color;
        }
      }

      var inputs = document.getElementsByTagName('input');
      for (var i = 0 ; i < inputs.length ; i++) {
        var input = inputs[i];
        if (input.type != 'checkbox') {
          continue;
        }

        if (input.id.indexOf(':IsIncoming', input.id.length - ':IsIncoming'.length) !== -1) {
          input.style.outline = 'solid 3px ' + color;
        }
      }
    }

    function getCitiesForState(state, selectedCity, fnComplete) {
      if (!state) {
        return [];
      }
      state = state.trim();

      IntakeFlowController.BuildCityStateJSArray(state, function(result, event) {
        if (event.status) {
          result = JSON.parse(result);
          var strOptions = '';
          result.forEach(function(x) { 
            strOptions += '<option value="' + x.city + '"';
            if (selectedCity.toLowerCase() == x.city.toLowerCase()) {
              strOptions += ' selected="selected"';
            }
            strOptions += '>' + x.city + '</option>'; 
          });
          fnComplete(strOptions);
        } else {
          console.log(event);
        }
      }, {escape: false});
    }

    function refreshAssociatedCityDropdown(txbxCity, slctCity, slctState) {
      slctCity.find('option').remove();
      var selectedState = slctState.find('option:selected').text();

      getCitiesForState(selectedState, txbxCity.val(), function(options) {
        slctCity.append(options);
        slctCity.trigger('chosen:updated');
      });
    }

    function replaceCityTextboxesWithDropdowns() {
      $('input[id$="City.input"]').each(function() {
        var txbxCity = $(this);
        var prevTr = txbxCity.closest('tr').prev('tr');
        var slctState = prevTr.find('select[id$="State_Province.input"]');

        if (!slctState.length){
          var nextTr = txbxCity.closest('tr').next('tr');
          slctState = nextTr.find('select[id$="State_Province.input"]');
        }

        if (!slctState.length) {
          console.log("skipping " + txbxCity + ", no associated state dropdown");
          return; // no associated state select, skip
        }

        var slctCity = $('<select></select>');

        txbxCity.hide();

        slctCity.insertAfter(txbxCity).chosen({width:'100%', search_contains: true}).change(function() {
          var val = $(this).val();
          console.log("value changed to " + val);
          txbxCity.val(val);
        });

        slctState.change(function() { refreshAssociatedCityDropdown(txbxCity, slctCity, slctState); });

        refreshAssociatedCityDropdown(txbxCity, slctCity, slctState);
      });
    }

    jQuery(function() {
      refreshToolbar(); // why is this here when it's also in the page action?
      $('select:not([multiple]):not([id^=cal])').chosen({width: '100%', search_contains: true});
      replaceCityTextboxesWithDropdowns();
      setEntityInformation('{!JSENCODE(Intake.Name)}','Intake', 'Intake__c', '{!Intake.Id}', false, true);
    });

  </script>
  <apex:outputText value="<" escape="false" />!--                                                                                                                   --<apex:outputText value=">" escape="false" />
</apex:page>