<apex:page cache="false" showHeader="false" sidebar="false"
    title="Morgan and Morgan Intakes">

    <style>
        .rowA {
            vertical-align: top;
            font-size: 16px;
        }
        .colA {
            width: 200px;
            padding: 10px;
        }
        .colB {
            width: 100px;
            text-align: center;
            padding: 10px;
        }
        .colC {
            width: 450px;
            padding: 10px;
        }
        .colD {
            width: 450px;
            padding: 10px;
        }
        .gridHeader {
            font-size: 20px;
            color: blue;
        }
        .redFont {
            color: red;
        }
        .greenFont {
            color: green;
        }
    </style>

    <apex:outputPanel layout="block" style="padding:30px;">
        <apex:outputPanel layout="block" >
            <apex:image id="theImage" value="{! $Resource.MorganAndMorganLogoBanner }" style="margin-bottom:20px;" />
        </apex:outputPanel>
        <apex:outputPanel layout="block" style="font-size:xx-large;">
            Morgan and Morgan Intake Overflow
        </apex:outputPanel>
        <apex:outputPanel layout="block">
        </apex:outputPanel>
        <apex:outputPanel layout="block" style="margin-top:50px; margin-bottom:50px; font-size: 22px;">
            Thank you for calling ClassAction.com. What type of case are you calling about today?
        </apex:outputPanel>
        <apex:panelGrid columns="4" id="theGrid" cellpadding="5px;" columnClasses="colA,colB,colC,colD" rowClasses="rowA" border="1" width="1200px;" headerClass="gridHeader">
            <apex:facet name="header">
                Chooose from one of the below selections and follow the instructions on the screen.
            </apex:facet>

            <apex:outputText value="Mesothelioma or any Asbestos related disease. Exampls are Asbestosis, Lung Cancer" /><apex:outputText value="Transfer" styleClass="greenFont"/>
            <apex:outputText value="{! $Label.INTAKE_OVERFLOW_PLEASE_HOLD }"/>
            <apex:outputText value="{! $Label.INTAKE_OVERFLOW_TRANSFER_TO_CCC }"/>


            <apex:outputText value="Homes built with Cast Iron Pipes or Water Damage in your home" /><apex:outputText value="Transfer" styleClass="greenFont"/>
            <apex:outputText value="{! $Label.INTAKE_OVERFLOW_PLEASE_HOLD }"/>
            <apex:outputText value="{! $Label.INTAKE_OVERFLOW_TRANSFER_TO_MASS_TORT_BROOKLYN }"/>


            <apex:outputText value="Injury from a drug or medical device but not due to doctor malpractice" /><apex:outputText value="Transfer" styleClass="greenFont"/>
            <apex:outputText value="{! $Label.INTAKE_OVERFLOW_PLEASE_HOLD }"/>
            <apex:outputText value="{! $Label.INTAKE_OVERFLOW_TRANSFER_TO_MASS_TORT_BROOKLYN }"/>


            <apex:outputText value="Injured by any type of consumer product you may have purchased or used" /><apex:outputText value="Transfer" styleClass="greenFont"/>
            <apex:outputText value="{! $Label.INTAKE_OVERFLOW_PLEASE_HOLD }"/>
            <apex:outputText value="{! $Label.INTAKE_OVERFLOW_TRANSFER_TO_CCC }"/>


            <apex:outputText value="Relating to unpaid Overtime or discrimination at work" /><apex:outputText value="Transfer" styleClass="greenFont"/>
            <apex:outputText value="{! $Label.INTAKE_OVERFLOW_PLEASE_HOLD }"/>
            <apex:outputText value="{! $Label.INTAKE_OVERFLOW_TRANSFER_TO_CCC }"/>


            <apex:outputText value="Any type of doctor malpractice" /><apex:outputText value="Transfer" styleClass="greenFont"/>
            <apex:outputText value="{! $Label.INTAKE_OVERFLOW_PLEASE_HOLD }"/>
            <apex:outputText value="{! $Label.INTAKE_OVERFLOW_TRANSFER_TO_CCC }"/>


            <apex:outputText value="To join an existing classaction or to submit a new classaction" /><apex:outputText value="Transfer" styleClass="greenFont"/>
            <apex:outputText value="{! $Label.INTAKE_OVERFLOW_PLEASE_HOLD }"/>
            <apex:outputText value="{! $Label.INTAKE_OVERFLOW_TRANSFER_TO_CCC }"/>


            <apex:outputText value="Auto accidents" /><apex:outputText value="Transfer" styleClass="greenFont"/>
            <apex:outputText value="{! $Label.INTAKE_OVERFLOW_PLEASE_HOLD }"/>
            <apex:outputText value="{! $Label.INTAKE_OVERFLOW_TRANSFER_TO_CCC }"/>


            <apex:outputText value="Slip and Fall" /><apex:outputText value="Transfer" styleClass="greenFont"/>
            <apex:outputText value="{! $Label.INTAKE_OVERFLOW_PLEASE_HOLD }"/>
            <apex:outputText value="{! $Label.INTAKE_OVERFLOW_TRANSFER_TO_CCC }"/>


            <apex:outputText value="Workers Compensation" /><apex:outputText value="Transfer" styleClass="greenFont"/>
            <apex:outputText value="{! $Label.INTAKE_OVERFLOW_PLEASE_HOLD }"/>
            <apex:outputText value="{! $Label.INTAKE_OVERFLOW_TRANSFER_TO_CCC }"/>


            <apex:outputText value="Unwanted phone calls" /><apex:outputText value="Transfer" styleClass="greenFont"/>
            <apex:outputText value="{! $Label.INTAKE_OVERFLOW_PLEASE_HOLD }"/>
            <apex:outputText value="{! $Label.INTAKE_OVERFLOW_TRANSFER_TO_CCC }"/>


            <apex:outputText value="Bankruptcy" /><apex:outputText value="Turn Down" styleClass="redFont"/>
            <apex:outputText value="{! $Label.INTAKE_OVERFLOW_TURN_DOWN_REASON }"/>
            <apex:outputText value=""/>


            <apex:outputText value="Foreclosure" /><apex:outputText value="Turn Down" styleClass="redFont"/>
            <apex:outputText value="{! $Label.INTAKE_OVERFLOW_TURN_DOWN_REASON }"/>
            <apex:outputText value=""/>


            <apex:outputText value="Loans" /><apex:outputText value="Turn Down" styleClass="redFont"/>
            <apex:outputText value="{! $Label.INTAKE_OVERFLOW_TURN_DOWN_REASON }"/>
            <apex:outputText value=""/>


            <apex:outputText value="Landlord Tenant Issues" /><apex:outputText value="Turn Down" styleClass="redFont"/>
            <apex:outputText value="{! $Label.INTAKE_OVERFLOW_TURN_DOWN_REASON }"/>
            <apex:outputText value=""/>


            <apex:outputText value="Taxes/IRS" /><apex:outputText value="Turn Down" styleClass="redFont"/>
            <apex:outputText value="{! $Label.INTAKE_OVERFLOW_TURN_DOWN_REASON }"/>
            <apex:outputText value=""/>


            <apex:outputText value="Unemployment" /><apex:outputText value="Turn Down" styleClass="redFont"/>
            <apex:outputText value="{! $Label.INTAKE_OVERFLOW_TURN_DOWN_REASON }"/>
            <apex:outputText value=""/>


            <apex:outputText value="Family Law/Divorce" /><apex:outputText value="Turn Down" styleClass="redFont"/>
            <apex:outputText value="{! $Label.INTAKE_OVERFLOW_TURN_DOWN_REASON }"/>
            <apex:outputText value=""/>




        </apex:panelGrid>
    </apex:outputPanel>
</apex:page>