<apex:page showHeader="true" sidebar="true" standardController="Intake__c" extensions="LaunchQuestionnaireRedirectExt" action="{! determinePageToDisplay }">
    <apex:form rendered="{! not(isIframeDisplayed) }" >
        <apex:pageMessages />
        <apex:outputLink value="/{! Intake__c.id }" id="theLink">&lt;&lt;&lt; Click here to return to the intake</apex:outputLink>
    </apex:form>
    <apex:outputPanel layout="block" rendered="{! isIframeDisplayed }" style="height:750px;">
        <apex:iframe frameborder="0" height="100%" id="itarget" scrolling="auto" src="{! iframeUrl }" title="Content" width="100%" rendered="{! isIframeDisplayed }" />
    </apex:outputPanel>
    <apex:outputField value="{! Intake__c.Litigation__c }" rendered="false"/>
    <apex:outputField value="{! Intake__c.Case_Type__c }" rendered="false"/>
</apex:page>