<apex:page showHeader="true" sidebar="true" standardController="litify_pm__Referral__c" extensions="litify_pm.ReferralWizardController">

	<style>
      .sample-form {
          margin: 20px;
          width: 400px;
          font-size: 16px;
      }
      .sample-form h3 {
          margin:8px 0;
          display:block;
      }
      .sample-form button {
          margin: 18px 0;
          padding: 5px 10px;
      }
  </style>

	<apex:pageMessages />
	<apex:form >
		<apex:outputPanel rendered="{!!is_lightning}">
			<apex:sectionHeader subtitle="Create a new Referral" title="Step 2 of 4"/>		
			<apex:pageBlock title="Referral Information" mode="edit">
				<apex:pageBlockSection title="Refer to" columns="1">
					<apex:outputText value="Would you like to choose which firm receives this referral or let Litify choose the best match?"/>
					<apex:inputCheckbox value="{!let_litify_choose}" label="Let Litify choose">
						 <apex:actionsupport event="onchange" rerender="choose_firm" />
					</apex:inputCheckbox>
	      </apex:pageBlockSection>

	      <apex:outputPanel id="choose_firm">
	      <apex:pageBlockSection title="Choose an existing Firm" columns="1" rendered="{!!let_litify_choose}">
					<apex:inputField value="{!referral.litify_pm__Handling_Firm__c}"/>	        
	      </apex:pageBlockSection>

	      <apex:pageBlockSection title="...or choose a new Firm" columns="1" rendered="{!!let_litify_choose}">
	      	<apex:inputText value="{!firm_new_firstname}" label="First Name" />
	        <apex:inputText value="{!firm_new_lastname}" label="Last Name" />
	        <apex:inputText value="{!firm_new_email}" label="Email" />
	      </apex:pageBlockSection>
	      </apex:outputPanel>

				<apex:pageBlockButtons location="bottom">
	        <apex:commandButton action="{!step1}" value="Previous"/>
					<apex:commandButton action="{!step3}" value="Next"/>
	      </apex:pageBlockButtons>

			</apex:pageBlock>
		</apex:outputPanel>

		<apex:outputPanel rendered="{!is_lightning}">
			<apex:stylesheet value="{!URLFOR($Resource.litify_pm__slds, 'assets/styles/salesforce-lightning-design-system-vf.css')}" />
			<div class="litify slds" style="margin-bottom:500px">
				<ul>
						<li>
								<div class="slds-text-heading--large slds-align--absolute-center">
										Create New Referral
								</div>
						</li>
						<li class="slds-text-heading--label slds-align--absolute-center">
								Step 2 of 4
						</li>
						<div class="slds-p-top--medium"></div>
						<li class="slds-has-divider--top">
								<div class="slds-form--stacked">
									<div class="slds-p-top--x-small"></div>
									<div>
											<div class="slds-section__title">Referral Information</div>
											<div class="slds-p-top--medium"></div>
											<div class="slds-grid">
												<div class="slds-text-heading--label">Refer to</div>
											</div>
											<div class="slds-p-top--xx-small"></div>
											<div class="slds-grid">
													<legend class="slds-form-element__legend slds-form-element__label">Would you like to choose which firm receives this referral or let Litify choose the best match?</legend>
											</div>
											<div class="slds-p-top--xxx-small"></div>
											<div class="slds-grid">
												<apex:inputCheckbox value="{!let_litify_choose}" label="Let Litify choose">
													 <apex:actionsupport event="onchange" rerender="choose_firm" />
												</apex:inputCheckbox>
												<div class="slds-m-horizontal--xx-small"></div>
												<span class="slds-form-element__label">Let litify choose</span>
											</div>
											<div class="slds-p-top--medium"></div>
											<apex:outputPanel id="choose_firm">
										      <apex:outputPanel rendered="{!!let_litify_choose}">
														<div class="slds-grid">
															<div class="slds-text-heading--label">Choose a Firm</div>
														</div>
														<div class="slds-p-top--xx-small"></div>
														<label class="slds-form-element__label">Firm name</label>
														<div class="slds-form-element__control">
                                <apex:inputField value="{!referral.litify_pm__Handling_Firm__c}" style="width:48%" styleClass="slds-lookup__search-input"/>
                            </div>
														<div class="slds-p-top--small"></div>
										      </apex:outputPanel>
								      </apex:outputPanel>
										</div>
									</div>
							</li>
							<li class="slds-has-divider--top slds-align--right">
									<div class="slds-p-top--x-small"></div>
									<div class="slds-grid slds-grid--align-end">
											<apex:commandButton action="{!step3}" value="Continue" styleClass="slds-button slds-button--brand" />
											<apex:commandButton action="{!step1}" value="Back" immediate="true" styleClass="slds-button slds-button--neutral" />
									</div>
							</li>					
					</ul>
			</div>
		</apex:outputPanel>
	</apex:form>
</apex:page>