<apex:page showHeader="true" sidebar="true" standardController="litify_pm__Referral__c" extensions="litify_pm.ReferralWizardController">
	<apex:pageMessages />
	<apex:form >
		<apex:outputPanel rendered="{!!is_lightning}">
			<apex:sectionHeader subtitle="Create a new Referral" title="Step 3 of 4"/>
			
			<apex:pageBlock title="Referral Information">
				<apex:pageBlockSection title="Terms of Agreement" columns="1">
					<apex:outputText value="Suggest your terms of agreement with the handling firm."/>
					<apex:inputField value="{!referral.litify_pm__Suggested_Percentage_fee__c}"/>
	      </apex:pageBlockSection>
				<apex:pageBlockButtons location="bottom">
	        <apex:commandButton action="{!step2}" value="Previous"/>
					<apex:commandButton action="{!step4}" value="Next"/>
	      </apex:pageBlockButtons>

			</apex:pageBlock>
		</apex:outputPanel>
		<apex:outputPanel rendered="{!is_lightning}">
			<apex:stylesheet value="{!URLFOR($Resource.litify_pm__slds, 'assets/styles/salesforce-lightning-design-system-vf.css')}" />
			<div class="litify slds">
				<ul>
						<li>
								<div class="slds-text-heading--large slds-align--absolute-center">
										Create New Referral
								</div>
						</li>
						<li class="slds-text-heading--label slds-align--absolute-center">
								Step 3 of 4
						</li>
						<div class="slds-p-top--medium"></div>
						<li class="slds-has-divider--top">
							<div class="slds-form--stacked">
								<div class="slds-p-top--x-small"></div>
								<div class="slds-section__title">Referral Information</div>
								<div class="slds-p-top--medium"></div>
								<div class="slds-grid">
									<div class="slds-text-heading--label">Terms of Agreement</div>
								</div>
								<div class="slds-p-top--xx-small"></div>
								<div class="slds-grid">
									<legend class="slds-form-element__legend slds-form-element__label">Suggest your terms of agreement with the handling firm.</legend>
								</div>
								<div class="slds-p-top--small"></div>
								<div class="slds-grid">
									<label class="slds-form-element__label">Suggested Percentage fee</label>
									<div class="slds-form-element__control">
										<apex:inputField value="{!referral.litify_pm__Suggested_Percentage_fee__c}" styleClass="slds-input" style="width:45%"/>
									</div>
								</div>
							</div>
						</li>
						<div class="slds-p-top--small"></div>
						<li class="slds-has-divider--top slds-align--right">
							<div class="slds-p-top--x-small"></div>
							<div class="slds-grid slds-grid--align-end">
									<apex:commandButton action="{!step4}" value="Continue" styleClass="slds-button slds-button--brand" />
									<apex:commandButton action="{!step2}" value="Back" immediate="true" styleClass="slds-button slds-button--neutral" />
							</div>
						</li>						
					</ul>
			</div>
		</apex:outputPanel>
	</apex:form>
</apex:page>