<!--
/**
 * Copyright (c) 2012, FinancialForce.com, inc
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without modification, 
 *   are permitted provided that the following conditions are met:
 *
 * - Redistributions of source code must retain the above copyright notice, 
 *      this list of conditions and the following disclaimer.
 * - Redistributions in binary form must reproduce the above copyright notice, 
 *      this list of conditions and the following disclaimer in the documentation 
 *      and/or other materials provided with the distribution.
 * - Neither the name of the FinancialForce.com, inc nor the names of its contributors 
 *      may be used to endorse or promote products derived from this software without 
 *      specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND 
 *  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES 
 *  OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL 
 *  THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, 
 *  EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
 *  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY
 *  OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 *  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
**/
-->
<apex:page controller="litify_pm.MetadataDeployController" sidebar="false">
	<apex:includeScript value="{!URLFOR($Resource.litify_pm__jszip, '/jszip.js')}"/>
	<apex:includeScript value="{!URLFOR($Resource.litify_pm__jszip, '/jszip-load.js')}"/>
	<apex:includeScript value="{!URLFOR($Resource.litify_pm__jszip, '/jszip-deflate.js')}"/>
	<apex:includeScript value="{!URLFOR($Resource.litify_pm__jszip, '/jszip-inflate.js')}"/>
	<apex:form id="form">
	    <apex:sectionHeader title="Metadata Deploy Demo"/>
		<apex:pageMessages />
		<apex:actionPoller action="{!checkAsyncRequest}" interval="5" rerender="form" rendered="{!NOT(ISNULL(AsyncResult))}"/>
		<apex:actionFunction name="deployZip" action="{!deployZip}" rendered="{!ISNULL(AsyncResult)}" rerender="form">
			<apex:param name="data" assignTo="{!ZipData}" value=""/>
		</apex:actionFunction>
		<c:zip name="generateZip" oncomplete="deployZip(data);" rendered="{!ISNULL(AsyncResult)}">
			<c:zipEntry path="package.xml" data="{!PackageXml}"/>
			<c:zipEntry path="classes/HelloWorld.cls-meta.xml" data="{!HelloWorldMetadata}"/>
			<c:zipEntry path="classes/HelloWorld.cls" data="{!HelloWorld}"/>
		</c:zip>
		<apex:outputPanel rendered="{!ISNULL(AsyncResult)}">
			<input type="button" onclick="generateZip();" value="Deploy"/>
		</apex:outputPanel>
 	</apex:form>
</apex:page>