<apex:page standardController="litify_pm__Intake__c" showHeader="false">
    <apex:includeLightning />

    <div id="lightning" />

    <script>
        var intakeId = "{!$CurrentPage.parameters.id}";
        var myUserContext = "{!$User.UITheme}";

        $Lightning.use("litify_pm:convertToMatterApp", function() {
          $Lightning.createComponent("litify_pm:dialogConvertToMatter",
          {
            "intakeId" : intakeId,
      		  "userContext" : myUserContext
          },
          "lightning",
          function(cmp) {});
        });
    </script>
</apex:page>