<apex:page showHeader="true" sidebar="true" applyHtmlTag="true" applyBodyTag="false" docType="html-5.0">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
        <head>
            <meta charset="utf-8" />
            <meta http-equiv="x-ua-compatible" content="ie=edge" />
            <title>Live IVR</title>
            <meta name="viewport" content="width=device-width, initial-scale=1" />

            <apex:includeScript value="https://code.jquery.com/jquery-3.2.1.min.js" />
            <apex:includeLightning />
        </head>
        <body>
            <div class="slds-tabs--default">
                <ul class="slds-tabs--default__nav" role="tablist">
                    <li class="slds-tabs--default__item slds-text-heading--label slds-active" title="Quesionnaire" role="presentation">
                        <a class="mainTabLink slds-tabs--default__link" href="javascript:void(0);" role="tab" tabindex="0" aria-selected="true" aria-controls="questionnaireTab" id="questionnaireTab__item">Questionnaire</a>
                    </li>
                    <li class="slds-tabs--default__item slds-text-heading--label" title="Intake Form" role="presentation">
                        <a class="mainTabLink slds-tabs--default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="intakeFormTab" id="intakeFormTab__item">Intake Form</a>
                    </li>
                </ul>
                <div id="questionnaireTab" class="mainTabContent slds-tabs--default__content slds-show" role="tabpanel" aria-labelledby="questionnaireTab__item">
            <c:mmwiz_View questionnaireName="LIVR" suppressQuestionnairHeader="true" />
            <div id="searchComponentDiv" style="margin-bottom: 20px;"></div>
                </div>
                <div id="intakeFormTab" class="mainTabContent slds-tabs--default__content slds-hide" role="tabpanel" aria-labelledby="intakeFormTab__item">
                    <iframe id="intakeIframe" border="0" frameborder="0" marginwidth="0" marginheight="0" src="about:blank" width="100%" height="900px"></iframe>
                </div>
            </div>

            <script>
                $Lightning.use("c:mmivr_SearchComponentsApp", function() {
                    $Lightning.createComponent(
                        "c:mmivr_SearchComponents", 
                        {},
                        "searchComponentDiv",
                        function(cmp) {}
                    );
                });

                $(function() {
                    $('#intakeIframe').attr('src', '/apex/mmintake_NewMinimalIntake' + window.location.search);
                    $('.mainTabLink').click(function(){
                      $(this).parent().parent().find('.mainTabLink').attr('aria-selected','false');
                      $(this).attr('aria-selected','true');
                      $(this).parent().parent().find('.mainTabLink').attr('tabindex','-1');
                      $(this).attr('tabindex','0');
                      $(this).parent().addClass('slds-active').siblings().removeClass('slds-active');
                      $(this).parent().parent().parent().find('.'+$(this).parent().parent().parent().find('.mainTabContent')[0].classList[0]).removeClass('slds-show').addClass('slds-hide');
                      $(this).parent().parent().parent().find('#'+$(this).attr('aria-controls')).removeClass('slds-hide').addClass('slds-show');
                    });
                });
            </script>
        </body>
    </html>
</apex:page>