<apex:page showHeader="true" sidebar="true">
       <apex:includeLightning />
      <span style="display: none">
        SESSION_ID_START{!$Api.Session_ID}SESSION_ID_END
    </span>
    <div id="Con"/>
    <script>
    var Id = "{!$CurrentPage.parameters.id}";
    var obj = {};
    obj['firstName'] = "{!$CurrentPage.parameters.firstName}";
    obj['lastName'] = "{!$CurrentPage.parameters.lastName}";
    obj['phoneNumber'] = "{!$CurrentPage.parameters.ANI}";
    obj['ssn'] = "{!$CurrentPage.parameters.SSN}";
    obj['email'] = "{!$CurrentPage.parameters.email}";
    obj['birthDate'] = "{!$CurrentPage.parameters.DOB}";
    obj['dnis'] = "{!$CurrentPage.parameters.DNIS}";
    obj['Id'] = "{!$CurrentPage.parameters.ID}";
     
    $Lightning.use("c:liveIVRApp", function() {
        $Lightning.createComponent(
            "c:LiveIVRComp",
            {"filterObject":obj,
            "searchText":"{!$CurrentPage.parameters.searchText}"},
            "Con",
            function(cmp) {
            });
    });
    </script>
</apex:page>