<apex:page showHeader="false"
	sidebar="false"
	controller="mmdocusign_ClientSignupController"
	action="{!execute}">

	<p style="font-size: 18px;">
		<apex:outputText style="margin: 100px 0 0 100px;" value="{!DisplayText}" escape="false"></apex:outputText>
		<apex:messages />
	</p>

</apex:page>