<apex:page controller="mmlitifylrn_CredentialsInputController" lightningStylesheets="true">
    <apex:form id="credentialsInputForm">
        <apex:pageBlock >
            <apex:pageMessages id="theMessages"/>
            <apex:pageBlockButtons location="top">
                <apex:commandButton action="{! performAuthentication }" value=" Authenticate " reRender="currentCredentialsBlock, theMessages,lrnUsername,lrnPassword,lrnFirmSelected"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection title="Enter your Litify Referral Network credentials" columns="1" collapsible="false">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Username" for="lrnUsername"/>
                    <apex:inputText value="{! lrnUsername }" id="lrnUsername" style="width: 500px;"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Password" for="lrnPassword"/>
                    <apex:inputSecret value="{! lrnPassword }" id="lrnPassword" style="width: 500px;"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Select the {! $ObjectType.litify_pm__Firm__c.Label } these credentials are for." for="lrnFirmSelected"/>
                    <apex:selectList id="lrnFirmSelected" value="{! lrnFirmSelected }" size="1">
                        <apex:selectOptions value="{! lrnFirmsOptions }"/>
                    </apex:selectList>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:outputPanel id="currentCredentialsBlock" >
            <apex:pageBlock >
                <apex:pageBlockTable value="{! credentials }" var="credential" rendered="{! credentials.size > 0 }">
                    <apex:column value="{! credential.name }"/>
                    <apex:column value="{! credential.Username__c }"/>
                    <apex:column value="{! credential.FirmExternalID__c }"/>
                    <apex:column value="{! credential.Last_Sync__c }"/>
                </apex:pageBlockTable>
                <apex:outputText value="No records found." rendered="{! credentials.size = 0 }" />
            </apex:pageBlock>
        </apex:outputPanel>
    </apex:form>
</apex:page>