<apex:page standardController="litify_pm__Matter__c" title="NetDocuments workspace corresponding to an Litify Matter">
  <apex:iframe scrolling="true" title="Matter Workspace"
        src="https://vault.netvoyage.com/neWeb2/goID.aspx?sfSession={!$Api.Session_ID}&sfUrl={!$Api.Partner_Server_URL_70}&smallDisplay=Y&ws={!URLENCODE(litify_pm__Matter__c.name)}&wsParent={! litify_pm__Matter__c.litify_pm__Client__r.External_ID__c }&cabinet=NG-JGPX3MRJ"/>
</apex:page>