<apex:page standardController="Questionnaire__c" extensions="QuestionnaireCommentExtension">
    <apex:form >
        <apex:pagemessages ></apex:pagemessages>
        <table style="width:100%;">
            <td style="width: 40%;" align="center">
                <div style="font-family:arial; font-size:15px;"><b>Comments :</b></div>
                <apex:inputField value="{!commentRec.Comments__c}" style="width: 400px;height: 30px;"/> 
            </td>   
            <td style="width: 20%;">
                User:&nbsp;<apex:outputText value="{!$User.FirstName}"/> &nbsp;
                <apex:outputText value="{!$User.LastName}"/>
                <br/>
                Date:&nbsp; 
                <apex:outputText value="{0,date,MM/dd/yyyy}"> 
                    <apex:param value="{!TODAY()}" /> 
                </apex:outputText>                        
            </td>
            <td>  
                <apex:commandButton value="Save" action="{!saveComment}"/>              
            </td>
        </table>   
    </apex:form>            
</apex:page>