<apex:page showHeader="true" sidebar="false" standardController="Incident__c" extensions="RelatedIncidentInvestigationsExt">
  <apex:includeScript value="/soap/ajax/37.0/connection.js"/>

  <style>
    a.investigationAction {
      color: #015ba7;
      text-decoration: none;
    }
  </style>

  <apex:pageBlock >
    <apex:pageBlockTable value="{!IncidentInvestigations}" var="ev" width="100%" cellpadding="3" rendered="{!HasEvents}">
        <apex:column headerValue="Action" width="175px">
          <apex:outputPanel layout="none" rendered="{!ev.Event != null}">
            <apex:outputLink value="/{!Incident__c.Id}" onclick="return cancelInvestigation(this, '{!ev.Event.Id}');" styleClass="investigationAction">Cancel</apex:outputLink>
            &nbsp;|&nbsp;
            <apex:outputLink value="/apex/ScheduleInvestigatorPage?id={!Incident__c.Id}&srcId={!Incident__c.Id}" onclick="return rescheduleInvestigation(this, '{!ev.Event.Id}');" styleClass="investigationAction">Reschedule</apex:outputLink>
          </apex:outputPanel>
        </apex:column>
        <apex:column headerValue="Date">
          <apex:outputLink value="/{!ev.Event.Id}?prevRecord={!Incident__c.Id}" onclick="return redirect(this);" rendered="{!ev.Event != null}">
            <apex:outputText value=" {!ev.INCIE.StartDateTime__c}" />
          </apex:outputLink>
          <apex:outputField value="{!ev.INCIE.StartDateTime__c}" rendered="{!ev.Event == null}" />
        </apex:column>
        <apex:column headerValue="Investigator">
          <apex:outputLink value="/{!ev.Event.OwnerId}" onclick="return redirect(this);" rendered="{!ev.Event != null}">{! ev.Event.Owner.Name }</apex:outputLink>
        </apex:column>
        <apex:column headerValue="Status">
          <apex:outputField value="{!ev.INCIE.Investigation_Status__c}" />
        </apex:column>
        <apex:column headerValue="{!$ObjectType.IncidentInvestigationEvent__c.fields.Canceled_Rescheduled_By__c.label}">
          <apex:outputField value="{!ev.INCIE.Canceled_Rescheduled_By__c}" rendered="{!ev.Event = null}"/>
        </apex:column>
    </apex:pageBlockTable>
  </apex:pageBlock>

  <apex:outputText rendered="{! !HasEvents }" value="No Scheduled Investigations" />

<script>
  function redirect(that) {
    console.log(that.href);
    window.top.location.href = that.href;
    return false;
  }
  function cancelInvestigation(that, eventId) {
    if (confirm('Are you sure you want to cancel the selected investigation?')) {
      var record = new sforce.SObject('Event');
      record.Id = eventId;
      record.To_Be_Canceled__c = true;
      var result = sforce.connection.update([record]);
      if (result[0].getBoolean('success')) {
        window.top.location.href = that.href;
      }
      else {
        console.log(result[0].errors);
        alert('Unable to cancel the selected investigation.');
        window.location.reload(true);
      }
    }
    return false;
  }
  function rescheduleInvestigation(that, eventId) {
    if (confirm('Are you sure you want to reschedule the selected investigation?')) {
      var record = new sforce.SObject('Event');
      record.Id = eventId;
      record.To_Be_Rescheduled__c = true;
      var result = sforce.connection.update([record]);
      if (result[0].getBoolean('success')) {
        window.top.location.href = that.href;
      }
      else {
        console.log(result[0].errors);
        alert('Unable to reschedule the selected investigation.');
        window.location.reload(true);
      }
    }
    return false;
  }
</script>
</apex:page>