<apex:page showHeader="true" sidebar="true" standardController="Intake__c" extensions="RelatedIntakesController" name="Related Intake">
<apex:pageBlock >
  <apex:outputText rendered="{! !HasRelatedIntakes }" value="No Related Intakes" />
  <apex:pageBlockTable value="{!RelatedIntakes}" var="i" rendered="{!HasRelatedIntakes}">
  
      <apex:column headerValue="Name">
        <apex:outputLink value="/{!i.Id}" onclick="return redirect(this);">{!i.Name}</apex:outputLink>
      </apex:column>
      <apex:column headerValue="Client">
        <apex:outputLink value="/{!i.Client__r.Id}" onclick="return redirect(this);" rendered="{!NOT(ISBLANK(i.Client__r.Id))}">{!i.Client__r.Name}</apex:outputLink>
      </apex:column>
      <apex:column headerValue="Injured Party">
        <apex:outputLink value="/{!i.Injured_Party__r.Id}" onclick="return redirect(this);" rendered="{!NOT(ISBLANK(i.Injured_Party__r.Id))}">{!i.Injured_Party__r.Name}</apex:outputLink>
      </apex:column>
      <apex:column headerValue="Case Type" value="{!i.Case_Type__c}"/>
      <apex:column headerValue="Status" value="{!i.Status__c}" />

  </apex:pageBlockTable>
</apex:pageBlock>

<script>
  function redirect(that) {

    console.log(that.href);
    window.top.location.href = that.href;
    return false;
  }
</script>
</apex:page>