<apex:page sidebar="false" showHeader="false" standardController="litify_pm__Matter__c" extensions="SpringSingleUpload">
<!--<style>-->
    <!--.resp-container {-->
        <!--position: relative;-->
        <!--overflow: hidden;-->
        <!--padding-top: 56.25%;-->
    <!--}-->
    <!--#theIframe {-->
        <!--position: absolute;-->
        <!--top: 0;-->
        <!--left: 0;-->
        <!--width: 100%;-->
        <!--height: 100%;-->
        <!--border: 0;-->
    <!--}-->
<!--</style>-->
    <!--<div class="resp-container">-->
      <apex:iframe src="{!url}&sfsid={!$Api.Session_ID}&sfapiurl={!$Api.Partner_Server_URL_180}&ru=%2fatlas%2fForms%2fUpdateFormDoc.aspx%3faid%3d19112%26FormUid%3d5420883d-4f11-ea11-9c2e-ac162d889bd1%26sfId%3d{!litify_pm__Matter__c.Id}" scrolling="false" id="theIframe" height="250px" />
    <!--</div>-->
</apex:page>