<apex:page showHeader="true" sidebar="true" standardController="MM_Questionnaire__c" extensions="SkuidQuestionnaireRedirectExt">
    <apex:outputPanel layout="block" style="height:750px;">
        <apex:iframe frameborder="0" height="100%" id="itarget" scrolling="auto" src="{! iframeUrl }" title="Content" width="100%" />
    </apex:outputPanel>
</apex:page>