<apex:page showHeader="true" sidebar="true" controller="SSIntakeFlowController">
  <apex:pageBlock >
       <flow:interview interview="{!FlowInstance}" finishLocation="{!FinishLocation}" name="SS_Contact_Capture"  />
  </apex:pageBlock>
</apex:page>