<apex:page controller="TaskCreationController" tabStyle="Task">

    <apex:form >
    
        <apex:pageBlock mode="edit">

            <apex:pageMessages />
        
            <apex:pageBlockSection columns="1" collapsible="false" title="Task Creation">
            
                <apex:inputField value="{!taskRcd.Subject}"/>
                <apex:inputField value="{!taskRcd.ActivityDate}" required="{!isCallback}"/>
                <apex:inputField value="{!taskRcd.ReminderDateTime}" required="true" rendered="{!isCallback}"/>
                <apex:inputField value="{!taskRcd.Mail_Out_Status__c}" rendered="{!isMailout}"/>
                <apex:inputField value="{!taskRcd.Type}"/>
                <apex:inputField value="{!taskRcd.WhoId}"/>
                <apex:inputField value="{!taskRcd.WhatId}"/>
                <apex:inputField value="{!taskRcd.OwnerId}"/>
                <apex:inputField value="{!taskRcd.Status}"/>
                <apex:inputField value="{!taskRcd.Priority}"/>
            
            </apex:pageBlockSection>
            
            <apex:pageBlockButtons location="bottom">
            
                <apex:commandButton value="Create Task" action="{!createTask}"/>
                <apex:commandButton value="Cancel" action="{!cancel}" immediate="true"/>
            
            </apex:pageBlockButtons>
        
        </apex:pageBlock>
    
    </apex:form>

</apex:page>