<apex:page standardController="Intake__c" extensions="mmintake_TreatmentCenterSelExtension" lightningStylesheets="true" >
    <!--<style>
        .detailList {
            width: 100%;
        }
        .labelCol {
            font-size: 91%;
            font-weight: bold;
            padding-bottom: 3px;
            padding-left: 2px;
            padding-right: 10px;
            padding-top: 3px;
            text-align: right;
            width: 18%;
        }

        .dataCol {
            font-size: 91%;
            padding-bottom: 3px;
            padding-left: 2px;
            padding-right: 10px;
            padding-top: 3px;
            text-align: left;
            width: 32%;
        }

        .buttonPanel {
            margin-top:20px;
        }

        .tcAddressPanel {
        }

        .col1Panel {
            width:45%;
            float:left;
        }
        .col2Panel {
            width:55%;
            float:right;
        }

        .outerPanel {
            height:200px;
            overflow:
        }
    </style>-->

    <apex:form >
        <apex:outputPanel id="OuterPanel" layout="block" styleClass="outerPanel">

            <apex:pageMessages />

            <apex:outputPanel id="TCDisplayPanel" layout="block" rendered="{! isInEditMode == false }">
                <apex:panelGrid columns="2" id="theGrid" width="50%" columnClasses="labelCol,dataCol">
                    <apex:outputText id="treatmentFacilityLabel" value="{!$ObjectType.Intake__c.Fields.Treating_Facility__c.Label}" />
                    <apex:outputField id="treatmentFacility" value="{! intake.Treating_Facility__c }"/>
                </apex:panelGrid>
                <apex:outputPanel id="TCDisplayPanelCol2" layout="block" styleClass="col2Panel" rendered="{! isAssignTreatmentFacilityResponseGiven == false || treatmentCenterOptions.size > 0 }">
                    <apex:outputPanel id="TCDisplayPanelCol2ButtonPanel" layout="block" styleClass="buttonPanel">

                        <apex:outputPanel layout="block">
                                <table width="500px">
                                    <tr>
                                        <td valign="top">
                                            <apex:outputText value="{! tfSelectionCriteria.facilityOptionListLabel}" /><br/>
                                            <apex:selectList value="{! tfSelectionCriteria.selectedTreatmentFacilityType }" size="1">
                                                <apex:selectOptions value="{! tfSelectionCriteria.treatmentFacilityTypeOptionList }"/>
                                            </apex:selectList><br/><br/>

                                            <apex:outputText value="{! tfSelectionCriteria.useProvidedLocationCheckboxLabel}" /><br/>
                                            <apex:inputCheckbox value="{! tfSelectionCriteria.useProvidedLocation}" />
                                        </td>
                                        <td valign="top">
                                            <apex:outputText value="{! tfSelectionCriteria.streetAddressLabel}" /><br/>
                                            <apex:inputText value="{! tfSelectionCriteria.providedStreet}"/><br/><br/>

                                            <apex:outputText value="{! tfSelectionCriteria.cityLabel}" /><br/>
                                            <apex:inputText value="{! tfSelectionCriteria.providedCity}"/><br/><br/>

                                            <apex:outputText value="{! tfSelectionCriteria.stateLabel}" /><br/>
                                            <apex:inputText value="{! tfSelectionCriteria.providedState}"/><br/><br/>
                                        </td>
                                    </tr>
                                </table>
                        </apex:outputPanel>

                        <table width="400px">
                            <tr>
                                <td>
                                    <center>
                                        <apex:commandButton action="{! switchToEditMode }" value=" Change {!$ObjectType.Intake__c.Fields.Treating_Facility__c.Label} " />
                                        <apex:commandButton action="{! removeTreatmentCenter }" value=" Remove {!$ObjectType.Intake__c.Fields.Treating_Facility__c.Label} Selection " rendered="{! intake.Treating_Facility__c != null }"/>
                                    </center>
                                </td>
                            </tr>
                        </table>

                        </apex:outputPanel>
                </apex:outputPanel>
            </apex:outputPanel>

            <apex:outputPanel id="TCPanel" layout="block" rendered="{! isAssignTreatmentFacilityResponseGiven == true && treatmentCenterOptions.size == 0 }">
                <apex:pageMessage summary="No {! lower($ObjectType.Intake__c.Fields.Treating_Facility__c.label) } available near {! Intake__c.Client__r.name }'s {! lower($ObjectType.Account.Fields.BillingAddress.Label) }" severity="warning" strength="3" />
                <apex:commandButton action="{! cancelEditMode}" value="Search again" />
            </apex:outputPanel>

            <apex:outputPanel id="TCError2Panel" layout="block" rendered="{! isClientsAddressValid == false }">
                <apex:pageMessage summary="{! Intake__c.Client__r.name } does not have a valid {! lower($ObjectType.Account.Fields.BillingAddress.Label) }.  Please update on the {! lower($ObjectType.Intake__c.Fields.Client__c.Label) } record before proceeding. " severity="warning" strength="3" />
                <apex:commandButton action="{! cancelEditMode}" value="Search again" />
            </apex:outputPanel>



            <apex:outputPanel id="TCSelectionPanel" rendered="{! isInEditMode == true && treatmentCenterOptions.size > 0 }">
                <apex:outputText value="Choose a {!$ObjectType.Intake__c.Fields.Treating_Facility__c.Label} from the list below... " /><p/>

                <apex:outputPanel layout="block">
                    <apex:outputPanel id="TCSelectionPanelCol1" layout="block" styleClass="col1Panel">
                        <apex:selectRadio id="tfOpionsRadio" value="{! selectedTreatmentFacilityId }" layout="pageDirection" >
                            <apex:selectOptions value="{! tfOptions }"/>
                            <apex:actionSupport event="onchange" action="{! performSelectionOfTreatmentCenter }" reRender="TCSelectionPanelCol2" />
                        </apex:selectRadio>

                    </apex:outputPanel>
                    <apex:outputPanel id="TCSelectionPanelCol2" layout="block" styleClass="col2Panel">
                        <apex:outputPanel id="TCSelectionPanelCol2DetailsPanel" layout="block" rendered="{! isTreatmentFacilitySelected }" styleClass="tcAddressPanel">
                            <apex:outputText value="{! selectedTreatmentFacility.record.name }" /><br/>
                            <apex:outputText value="{! selectedTreatmentFacility.record.BillingStreet }" /><br/>
                            <apex:outputText value="{! selectedTreatmentFacility.record.BillingCity }" />,&nbsp;
                            <apex:outputText value="{! selectedTreatmentFacility.record.BillingState }" />&nbsp;
                            <apex:outputText value="{! selectedTreatmentFacility.record.BillingPostalCode }" /><br/>
                            <apex:outputText value="{! selectedTreatmentFacility.record.BillingCountry }" /><br/>
                            <apex:outputText value="{! selectedTreatmentFacility.record.Phone }" /><br/>
                        </apex:outputPanel>
                        <apex:outputPanel id="TCSelectionPanelCol2ButtonPanel" layout="block" styleClass="buttonPanel">
                            <apex:commandButton action="{! assignTreatmentFacility }" value=" Assign {!$ObjectType.Intake__c.Fields.Treating_Facility__c.Label} " reRender="OuterPanel" rendered="{! isTreatmentFacilitySelected }" />
                            <apex:commandButton action="{! cancelEditMode }" value=" Cancel Assignment "/>
                        </apex:outputPanel>
                    </apex:outputPanel>
                </apex:outputPanel>
            </apex:outputPanel>

        </apex:outputPanel>
    </apex:form>
</apex:page>