<apex:page showHeader="true" sidebar="true" applyHtmlTag="true" applyBodyTag="false" docType="html-5.0" controller="mmwiz_WizardExtension">
<!--
    <apex:page showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0">
 -->
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>__Questionnaire Title__</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Import the Design System style sheet -->
        <c:mmwiz_View questionnaireName="{!$CurrentPage.parameters.questionnaire}" />
    </head>
</html>
</apex:page>