.THIS .noPointerEvents {
    pointer-events: none;
}
.THIS .indexButton {
    margin-top: 1.5rem;
}
.THIS .customField abbr {
    display: none !important;
}
.THIS .customField .slds-has-error .slds-input {
    border-color: rgb(21, 137, 238) !important;
    box-shadow: white 0 0 0 0px inset !important;
}
.THIS .slds-form-element__help {
    display: none !important;
}