<template>
  <lightning-spinner
    if:true={showSpinner}
    alternative-text={spinnerMessage}
    size="large"
    variant="brand"
    class="spinner-z-index"
  ></lightning-spinner>

  <lightning-card class="slds-m-around_x-small">
    <div slot="title" class="slds-media">
      <div class="slds-media__figure">
        <lightning-icon icon-name="standard:account"></lightning-icon>
      </div>
      <div class="slds-media__body">
        <h3>Create Payable Invoices</h3>
        <p class="slds-text-body_small slds-text-color_weak">
          Create Payable Invoice Header and Line Items:
        </p>
      </div>
    </div>
    <lightning-record-edit-form
      object-api-name="c2g__codaPurchaseInvoice__c"
      onsubmit={handleSubmit}
    >
      <!-- Bank account and date definition -->
      <lightning-messages> </lightning-messages>
      <div class="slds-grid">
        <div class="slds-size_1-of-3">
          <div class="slds-text-color_success">
            <p>
              <span
                >PIN Amount: &nbsp;&nbsp;
                <lightning-formatted-number
                  value={totalAmount}
                  format-style="currency"
                  minimum-fraction-digits="2"
                ></lightning-formatted-number>
              </span>
            </p>
          </div>
        </div>

        <div class="slds-size_1-of-3">
          <template if:true={disableSave}>
            <lightning-button
              class="saveButton slds-m-top_small"
              type="submit"
              disabled
              label="Save Payable Invoice"
            >
            </lightning-button>
          </template>
          <template if:false={disableSave}>
            <lightning-button
              class="saveButton slds-m-top_small"
              type="submit"
              label="Save Payable Invoice"
            >
            </lightning-button>
          </template>
        </div>
        <div class="slds-size_1-of-3">
          <lightning-input
            type="checkbox"
            checked={autoPost}
            onchange={handleAutoPostChange}
            label="Auto Post PIN?"
          ></lightning-input>
        </div>
      </div>
      <div class="slds-grid">
        <!-- FIRST ROW -->
        <div class="slds-size_1-of-4">
          <lightning-input-field
            field-name="General_Ledger_Account__c"
            value={glaId}
            onchange={handleGLASelect}
          ></lightning-input-field>
        </div>
        <div class="slds-size_1-of-4 slds-p-top_xx-small">
          <label class="slds-text-body_small slds-text-color_weak" for="Litify_Matter__c">Trust Transaction Matter  </label>
          <!-- <div class="slds-text-body_small slds-text-color_weak">Trust Transaction Matter</div> -->
          <lightning-helptext content="Lookup to the Litify Matter associated to this payable invoice"></lightning-helptext>
          <lightning-input-field
            variant="label-hidden"
            field-name="Litify_Matter__c"
            value={pinMatterId}
            onchange={handlePinMatterSelect}
          ></lightning-input-field>
        </div>
        <div class="slds-size_1-of-4">
          <lightning-input-field
            field-name="Expense_Type__c"
            value={expenseTypeId}
            onchange={handleExpenseTypeSelect}
          ></lightning-input-field>
        </div>
        <div class="slds-size_1-of-4">
          <lightning-input-field
            field-name="c2g__IncomeTaxType__c"
          ></lightning-input-field>
        </div>
      </div>
        <!-- SECOND ROW -->
      <div class="slds-grid">
        <div class="slds-size_1-of-4">
          <lightning-input-field
            required
            field-name="c2g__InvoiceDate__c"
            value={todayDate}
          ></lightning-input-field>
        </div>
      <!-- </div> -->
        <div class="slds-size_1-of-4">
          <lightning-input-field
            field-name="c2g__DueDate__c"
            value={todayDate}
          ></lightning-input-field>
        </div>
        <div class="slds-size_1-of-4">
          <lightning-input-field
            field-name="c2g__Period__c"
          ></lightning-input-field>
        </div>
        <div class="slds-size_1-of-4">
          <lightning-input-field
            field-name="Create_Litify_Expenses__c"
          ></lightning-input-field>
        </div>
      </div>
      <!-- THIRD ROW -->
      <div class="slds-grid">
        <div class="slds-size_1-of-4">
          <lightning-input-field
            required
            field-name="c2g__Account__c"
            value={vendorAccountId}
            onchange={handleVendorAccountChange}
          ></lightning-input-field>
        </div>
      <!-- </div> -->
        <div class="slds-size_1-of-4">
          <lightning-input-field
            field-name="Override_Account_Name__c"
          ></lightning-input-field>
        </div>
        <div class="slds-size_1-of-4">
          <lightning-input-field
            field-name="Requested_By__c"
          ></lightning-input-field>
        </div>
        <div class="slds-size_1-of-4">
          <lightning-input-field
            field-name="c2g__AccountInvoiceNumber__c"
          ></lightning-input-field>
        </div>
      </div>
        <!-- FOURTH ROW -->
        <div class="slds-grid">
          <div class="slds-size_1-of-4">
            <lightning-input-field
              field-name="Check_Memo__c"
            ></lightning-input-field>
          </div>
          <div class="slds-size_1-of-4">
            <lightning-input-field
              field-name="c2g__InvoiceDescription__c"
            ></lightning-input-field>
          </div>
      </div>
    </lightning-record-edit-form>

    <!-- Table with multiple rows for each deposit -->
    
    <table
      class="slds-p-around_small slds-table slds-table_cell-buffer slds-table_bordered"
    >
      <caption>
        Add Payable Invoice Line Items
      </caption>
      <thead>
        <!-- Add Rows Button and parameter -->
        <tr>
          <th class="" scope="col">   
              <lightning-input
                type="number"
                name="numOfRows"
                value={numberOfRowsToAdd}
                onchange={handleNumberOfRowsChange}
                class="slds-align_absolute-center slds-p-bottom_xx-small"
                label="# rows to add"
              ></lightning-input>
            </th>
          <th class="" scope="col">
              <lightning-button
                variant="brand"
                label="Add"
                onclick={handleAddRow}
                icon-name="utility:add"
                class="slds-align_absolute-center slds-p-top_medium"
              ></lightning-button>
          </th>
        </tr>
        <!-- Header Row -->
        <tr class="slds-line-height_reset">
          <!-- This is for the delete icon -->
          <th class="" scope="col" width="19px"></th>
          <th class="row_width">
            Line #
          </th>
          <th class="" scope="col">
            GLA
          </th>
          <th class="" scope="col">
            Matter
          </th>
          <th class="" scope="col">
            Expense Type
          </th>
          <!-- <th class="" scope="col">
              Is DCD expense?
          </th> -->
          <th class="" scope="col">
            Amount
          </th>
          <th class="" scope="col">
            Office
          </th>
          <th class="" scope="col">
            Lit Type
          </th>
          <th class="" scope="col">
            Case Type
          </th>
          <th class="" scope="col">
            Dept
          </th>
          <th class="" scope="col">
            Line Description
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- data rows -->
        <template
          for:each={pinLineWrappers}
          for:item="wrapper"
          for:index="index"
        >
          <c-payable-invoice-row-create
            key={wrapper.key}
            line-number={wrapper.key}
            index={index}
            gla-id-default={glaId}
            matter-id-default={matterIdDefaultParent}
            expense-type-id-default={expenseTypeId}
            dim1-id-default={dim1IdDefaultParent}
            dim2-id-default={dim2IdDefaultParent}
            dim3-id-default={dim3IdDefaultParent}
            dim4-id-default={dim4IdDefaultParent}
            line-desc-id-default={lineDescIdDefaultParent}
            wrapper-object={wrapper}
            oncolumndatachange={handleColumnDataChange}
            ondisablesave={handleDisableSave}
            onrowdelete={handleRowDelete}
          ></c-payable-invoice-row-create>
        </template>
      </tbody>
      <!-- end outer grid! -->
    </table>
  </lightning-card>
</template>