<template>
    <lightning-card title="Docrio Multi-Merge for Roles" icon-name="custom:custom18">
    <div style="margin: 0px 15px 0px 15px">

        <p>
        <lightning-combobox
            id="templateCombo"
            name="templates"
            label="Templates"
            value={templateChoice}
            placeholder="Select a Template"
            options={templateOptions}
            onchange={templateChange} 
            required
            messagewhenvaluemissing="Please select a template."
            >
        </lightning-combobox>
        </p>

        <br/>

        <p>
        <lightning-datatable
            key-field="id"
            data={roleData}
            columns={roleColumns}
            >
        </lightning-datatable>
        </p>

        <br/>

        <p>
        <lightning-combobox
            name="teamMembers"
            label="Team Members"
            value={teamMemberChoice}
            placeholder="Select a Team Member"
            options={teamMemberOptions}
            onchange={teamMemberChange} 
            required
            messagewhenvaluemissing="Please select a team member."
            >
        </lightning-combobox>
        </p>

        <br/>

        <lightning-button
            variant="brand"
            label="Merge"
            title="Multi-Merge"
            onclick={mergeClick}
            class="slds-m-left_x-small">
        </lightning-button>

        <br/>

        <lightning-spinner if:true={spinCount}></lightning-spinner>        

        <!--br/>
        <p><font color="gray">Result Message: {resultMessage}</font></p-->

    </div>
    </lightning-card>

</template>